<%= f.hidden_field :page_template_id %>

<div class="form-group">
  <%= f.label :title, 'Titel', class: 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :title, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :slug, 'Slug', class: 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :slug, disabled: true, class: 'form-control' %>
  </div>
</div>

<% contextual_page_values = f.object.page_values.group_by(&:context) %>


<% if contextual_page_values.length > 1 %>
    <ul class="nav nav-tabs">
      <% contextual_page_values.keys.uniq.each do |context| %>
          <% context = 'Other' if context.blank? %>
          <li role="presentation" class="<%= contextual_page_values.keys.first == context ? 'active' : '' %>">
            <a href="#<%= context %>" aria-controls="<%= context %>" role="tab" data-toggle="tab"><%= context.capitalize %></a>
          </li>
      <% end %>
    </ul>
<% end %>

<!-- Tab panes -->
<div class="tab-content">

  <% contextual_page_values.each do |context, page_values| %>
      <% context = 'Other' if context.blank? %>
      <div role="tabpanel" class="tab-pane <%= contextual_page_values.keys.first == context ? 'active' : '' %>" id="<%= context %>">
        <br>
        <%= f.fields_for :page_values, page_values, class: 'col-sm-12' do |ff| %>
            <%= render 'admin/pages/page_value_fields', f: ff %>
        <% end %>
      </div>
  <% end %>

</div>

<hr>


<div class="form-group">
  <div class="col-sm-10 col-sm-push-2">
    <%= link_to 'Annuleren', admin_pages_path, class: 'btn btn-white' %>
    <%= f.submit 'Opslaan', class: 'btn btn-primary' %>
  </div>
</div>

