<div class="page-header">
  <h1>Pages</h1>
</div>


<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    New Page
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <% ::PageTemplate.all.each do |template| %>
        <%= content_tag :li do %>
            <%= link_to template.name, new_page_with_template_admin_pages_path(template) %>
        <% end %>
    <% end %>
  </ul>
</div>

<hr/>

<table class="table">
  <tr>
    <th>title</th>
    <th>slug</th>
    <th>published at</th>
    <th>actions</th>
  </tr>

    <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td><%= page.slug %></td>
        <td><%= page.created_at.strftime('%Y/%m/%d %H%M') %></td>
        <td>
          <%= link_to 'Edit', edit_admin_page_path(page), class: 'btn btn-default btn-sm' %>
          <%= link_to 'Delete', admin_page_path(page), method: :delete, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
<% end %>
</table>