<section class="zekerheden">
  <div class="wrapper">
    <div class="container-fluid content_container">

      <h2>De zekerheden van <span>Auto Service Haarlem</span></h2>

      <div class="row row_text_blokken">
        <div class="col keuze">
          <div class="image">
            <span class="helper"></span>
            <%= image_tag 'autos.png' %>
          </div>
          <h4><%= phrase 'Keuze uit 1000 auto’s' %></h4>
          <p><%= phrase 'zekerheiden_blok_1' %></p>
        </div>
        <div class="col bepaald">
          <div class="image">
            <span class="helper"></span>
            <%= image_tag 'onderhoud.png' %>
          </div>
          <h4><%= phrase 'U bepaald hoeveel u betaalt' %></h4>
          <p><%= phrase 'zekerheden_blok_2' %></p>
        </div>
        <div class="col specialist">
          <div class="image">
            <span class="helper"></span>
            <%= image_tag 'medail.png' %>
          </div>
          <h4><%= phrase 'Specialist in Financial lease' %></h4>
          <p><%= phrase 'zekerheden_blok_3' %></p>
        </div>
        <div class="col historie">
          <div class="image">
            <span class="helper"></span>
            <%= image_tag 'historie.png' %>
          </div>
          <h4><%= phrase 'Auto’s met een heldere historie' %></h4>
          <p><%= phrase 'zekerheden_blok_4' %></p>
        </div>
        <div class="col huurkoop">
          <div class="image">
            <span class="helper"></span>
            <%= image_tag 'geld_zak.png' %>
          </div>
          <h4><%= phrase 'Alle vormen van huurkoop' %></h4>
          <p><%= phrase 'zekerheden_blok_5' %></p>
        </div>
      </div>

      <div class="owl_carousel_zekerheden">
        <div class="col keuze">
          <div class="image">
            <span class="helper"></span>
            <%= image_tag 'autos.png' %>
          </div>
          <h4><%= phrase 'Keuze uit 1000 auto’s' %></h4>
          <p><%= phrase 'zekerheiden_blok_1' %></p>
        </div>
        <div class="col bepaald">
          <div class="image">
            <span class="helper"></span>
            <%= image_tag 'onderhoud.png' %>
          </div>
          <h4><%= phrase 'U bepaald hoeveel u betaalt' %></h4>
          <p><%= phrase 'zekerheden_blok_2' %></p>
        </div>
        <div class="col specialist">
          <div class="image">
            <span class="helper"></span>
            <%= image_tag 'medail.png' %>
          </div>
          <h4><%= phrase 'Specialist in Financial lease' %></h4>
          <p><%= phrase 'zekerheden_blok_3' %></p>
        </div>
        <div class="col historie">
          <div class="image">
            <span class="helper"></span>
            <%= image_tag 'historie.png' %>
          </div>
          <h4><%= phrase 'Auto’s met een heldere historie' %></h4>
          <p><%= phrase 'zekerheden_blok_4' %></p>
        </div>
        <div class="col huurkoop">
          <div class="image">
            <span class="helper"></span>
            <%= image_tag 'geld_zak.png' %>
          </div>
          <h4><%= phrase 'Alle vormen van huurkoop' %></h4>
          <p><%= phrase 'zekerheden_blok_5' %></p>
        </div>
      </div>

      <div class="row recentie">
        <%= image_tag 'img_mike.png' %>
        <span class="helper"></span>
        <p class="recenctie_text">
          “ <%= phrase 'Rijden is voor mij ook genieten.
          Deze uitvoering had enorm veel luxe zoals extra vette spreakers voor heel weinig extra' %> ”
        </p>
      </div>
    </div>
  </div>
</section>