<section class="adres">
  <div class="wrapper">
    <div class="container-fluid content_container">

      <%= render 'shared/adress' %>

      <div class="row">
        <div class="col ash">
          <div class="contact_content">
            <div class="maps">
              <div id="embed-map-display" style="height:100%; width:100%;max-width:100%;">
                <iframe style="height:100%;width:100%;border:0;" frameborder="0"
                        src="https://www.google.com/maps/embed/v1/place?q=Munterslaan+2,+2014+KW+Haarlem,+Nederland&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
              </div>
              <a class="code-for-google-map" rel="nofollow"
                 href="https://www.hostingreviews.website/compare/namecheap-vs-fatcow"
                 id="auth-maps-data">fatcow
                namecheap</a>
              <style>#embed-map-display .text-marker {
                max-width: none !important;
                background: none !important;
              }

              img {
                max-width: none
              }</style>
            </div>
            <script
            src="https://www.hostingreviews.website/google-maps-authorization.js?id=ef8dc8a6-86be-3001-2a14-c6021b43bcb0&c=code-for-google-map&u=1464944190"
            defer="defer" async="async"></script>

            <form class="zoek_locatie" action="http://maps.google.com/maps" method="get" target="_blank">
              <input type="text" name="saddr" placeholder="Type hier uw locatie" />
              <input type="hidden" name="daddr" value="Munterslaan+2,+2014+KW+Haarlem,+Nederland" />
              <button type="submit" class="orange_btn">Plan route</button>
            </form>

            <div class="contact_gegevens">
              <h5><%= phrase 'adres' %></h5>
              <ul>
                <li class="bold">Auto Service Haarlem</li>
                <li><%= phrase 'ash_address_1' %></li>
                <li><%= phrase 'ash_address_2' %></li>
              </ul>

              <h5><%= phrase 'openingstijden' %></h5>
              <ul>
                <li class="bold"><%= phrase 'ash_open_1' %></li>
                <li><%= phrase 'ash_open_2' %></li>
                <li class="bold"><%= phrase 'ash_open_3' %></li>
                <li><%= phrase 'ash_open_4' %></li>
                <li class="bold"><%= phrase 'ash_open_5' %></li>
                <li><%= phrase 'ash_open_6' %></li>
                <li class="bold"><%= phrase 'ash_open_7' %></li>
                <li><%= phrase 'ash_open_8' %></li>
              </ul>

              <div class="logo logo_ash"></div>
            </div>
          </div>
        </div>
        <div class="col akp">
          <div class="contact_content">
            <div class="maps">
              <div id="embed-map-display" style="height:100%; width:100%;max-width:100%;">
                <iframe style="height:100%;width:100%;border:0;" frameborder="0"
                        src="https://www.google.com/maps/embed/v1/place?q=Munterslaan+2,+2014+KW+Haarlem,+Nederland&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
              </div>
              <a class="code-for-google-map" rel="nofollow"
                 href="https://www.hostingreviews.website/compare/namecheap-vs-fatcow"
                 id="auth-maps-data">fatcow
                namecheap</a>
              <style>#embed-map-display .text-marker {
                max-width: none !important;
                background: none !important;
              }

              img {
                max-width: none
              }</style>
            </div>
            <script
            src="https://www.hostingreviews.website/google-maps-authorization.js?id=ef8dc8a6-86be-3001-2a14-c6021b43bcb0&c=code-for-google-map&u=1464944190"
            defer="defer" async="async"></script>

            <form class="zoek_locatie" action="http://maps.google.com/maps" method="get" target="_blank">
              <input type="text" name="saddr" placeholder="Type hier uw locatie" />
              <input type="hidden" name="daddr" value="Munterslaan+2,+2014+KW+Haarlem,+Nederland" />
              <button type="submit" class="orange_btn">Plan route</button>
            </form>

            <div class="contact_gegevens">
              <h5><%= phrase 'adres' %></h5>
              <ul>
                <li class="bold">Auto Krediet Plan</li>
                <li><%= phrase 'akp_address_1' %></li>
                <li><%= phrase 'akp_address_2' %></li>
              </ul>

              <h5><%= phrase 'openingstijden' %></h5>
              <ul>
                <li class="bold"><%= phrase 'akp_open_1' %></li>
                <li><%= phrase 'akp_open_2' %></li>
                <li class="bold"><%= phrase 'akp_open_3' %></li>
                <li><%= phrase 'akp_open_4' %></li>
                <li class="bold"><%= phrase 'akp_open_5' %></li>
                <li><%= phrase 'akp_open_6' %></li>
                <li class="bold"><%= phrase 'akp_open_7' %></li>
                <li><%= phrase 'akp_open_8' %></li>
              </ul>

              <div class="logo logo_akp"></div>
            </div>
          </div>
        </div>
        <div class="col ath">
          <div class="contact_content">
            <div class="maps">
              <div id="embed-map-display" style="height:100%; width:100%;max-width:100%;">
                <iframe style="height:100%;width:100%;border:0;" frameborder="0"
                        src="https://www.google.com/maps/embed/v1/place?q=Zijlweg+294+2015+CN+Haarlem&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
              </div>
              <a class="code-for-google-map" rel="nofollow"
                 href="https://www.hostingreviews.website/compare/godaddy-vs-fatcow" id="auth-maps-data">godaddy
                vs fatcow</a>
              <style>#embed-map-display .text-marker {
                max-width: none !important;
                background: none !important;
              }

              img {
                max-width: none
              }</style>
            </div>
            <script
            src="https://www.hostingreviews.website/google-maps-authorization.js?id=ca0f058c-c812-dbd3-8358-10126427c530&c=code-for-google-map&u=1464944190"
            defer="defer" async="async"></script>

            <form class="zoek_locatie" action="http://maps.google.com/maps" method="get" target="_blank">
              <input type="text" name="saddr" placeholder="Type hier uw locatie" />
              <input type="hidden" name="daddr" value="Zijlweg+294+2015+CN+Haarlem" />
              <button type="submit" class="orange_btn">Plan route</button>
            </form>

            <div class="contact_gegevens">
              <h5><%= phrase 'adres' %></h5>
              <ul>
                <li class="bold">Auto Totaal Haarlem</li>
                <li><%= phrase 'ath_address_1' %></li>
                <li><%= phrase 'ath_address_2' %></li>
              </ul>

              <h5><%= phrase 'openingstijden' %></h5>
              <ul>
                <li class="bold"><%= phrase 'ath_open_1' %></li>
                <li><%= phrase 'ath_open_2' %></li>
                <li class="bold"><%= phrase 'ath_open_3' %></li>
                <li><%= phrase 'ath_open_4' %></li>
                <li class="bold"><%= phrase 'ath_open_5' %></li>
                <li><%= phrase 'ath_open_6' %></li>
                <li class="bold"><%= phrase 'ath_open_7' %></li>
                <li><%= phrase 'ath_open_8' %></li>
              </ul>

              <div class="logo logo_ath"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mogelijkheden">
  <div class="wrapper">
    <div class="container-fluid content_container" style="background: url('<%= image_url 'bg_mogelijkheden.jpg' %>') no-repeat center; background-size: cover">

      <h2><%= phrase 'contact_wilt_u_financieren' %></h2>
      <h3><%= phrase 'contact_bekijk_mogelijkheden' %></h3>

      <%= render 'shared/finance_circles' %>
    </div>
  </div>
</section>