<section class="mogelijkheden">
  <div class="wrapper">
    <div class="container-fluid content_container" style="background: url('<%= image_url 'bg_mogelijkheden.jpg' %>') no-repeat center; background-size: cover">

      <h2><%= phrase 'finance_header_financieringen' %></h2>

      <h3><%= phrase 'finance_sub_header_financieringen' %></h3>

      <%= render 'shared/finance_circles' %>
    </div>
  </div>
</section>

<section class="zakelijke_financiering zakelijke_financiering_page">
  <div class="wrapper">
    <div class="container-fluid content_container">

      <%= image_tag 'img_zakelijk.png', class: 'small_device' %>

      <div class="row">
        <div class="col zakelijk">
          <div class="content">
            <h3><%= phrase 'Zakelijke financiering:' %></h3>
            <h4><%= phrase 'De voordelen van Auto KredietPlan!' %></h4>

            <p class="first_alinea">
              <%= phrase 'Financial Lease is een zeer flexibele vorm van het leasen van een bedrijfsauto' %>
            </p>
            <p class="second_alinea">
              <%= phrase 'Omdat Financial Lease flexibel is zorgt het ervoor dat u als zelfstandige gemakkelijk kunt
              beschikken over een (bedrijfs)auto' %>
            </p>
          </div>
        </div>
        <div class="col voordelen">
          <div class="content">
            <%= image_tag 'img_zakelijk.png' %>
            <h4><%= phrase 'Voordelen van het Leasen van een gebruikte auto' %></h4>

            <ul>
              <li><%= image_tag 'vink.png' %><%= phrase 'Snel inzetbare en beschikbare auto’s' %></li>
              <li><%= image_tag 'vink.png' %><%= phrase 'Ruime keus uit onze online voorraad' %></li>
              <li><%= image_tag 'vink.png' %><%= phrase 'Snelle beslissing (binnen 1  dag behandeld)' %></li>
              <li><%= image_tag 'vink.png' %><%= phrase 'Uw wordt economisch eigenaar van de auto.' %></li>
              <li><%= image_tag 'vink.png' %><%= phrase 'Na afloop leaseperiode is de auto uw eigendom' %></li>
              <li><%= image_tag 'vink.png' %><%= phrase 'Stukken goedkoper dan het leasen van een nieuwe auto.' %></li>
              <li><%= image_tag 'vink.png' %><%= phrase 'Laag en vast rentepercentage' %></li>
              <li><%= image_tag 'vink.png' %><%= phrase 'U kunt uw oude auto bij ons inruilen' %></li>
              <li><%= image_tag 'vink.png' %><%= phrase 'Aanbetalen mag, maar is niet noodzakelijk' %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="u_bepaald">
  <div class="wrapper">
    <div class="container-fluid content_container">

      <div class="banner1 banner">
        <section class="article_financieren">

          <div class="circle_container">
            <div class="orange_circle">
              <h4><%= phrase('financieren-finance-circle-1-title') %></h4>

              <p><%= phrase('financieren-finance-circle-1-text') %></p>

              <a href="../financierings_pagina/financierings_pagina.php" class="orange_btn"><%= phrase('financieren-finance-circle-1-button') %></a>
              <div class="white_circle"></div>
            </div>

            <div class="mini_logo"></div>
          </div>
        </section>
      </div>

      <div class="content">
        <span class="helper"></span>
        <h3><span><%= phrase 'U bepaald hoeveel u betaald!' %></span>
          <%= phrase 'Meer dan 8000 klanten gingen u voor.' %></h3>
      </div>

      <div class="banner2 banner">
        <section class="article_financieren">

          <div class="circle_container">
            <div class="orange_circle">
              <h4><%= phrase('financieren-finance-circle-2-title') %></h4>

              <p><%= phrase('financieren-finance-circle-2-text') %></p>

              <a href="../financierings_pagina/financierings_pagina.php" class="orange_btn"><%= phrase('financieren-finance-circle-2-button') %></a>
              <div class="white_circle"></div>
            </div>

            <div class="mini_logo"></div>
          </div>
        </section>
      </div>

      <div class="img_car"></div>

    </div>
  </div>
</section>

<section class="Particuliere_financiering">
  <div class="wrapper">
    <div class="container-fluid content_container">

      <div class="row first_row">
        <div class="col left">
          <div class="content">
            <h3><%= phrase 'Particuliere financiering:' %></h3>
            <h4><%= phrase 'De voordelen van Auto KredietPlan!' %></h4>
            <p class="first_alinea">
              <%= phrase 'Hebt u de ideale auto gevonden en wilt u graag een financiering afsluiten' %>
            </p>
            <p class="second_alinea">
              <%= phrase 'Een particuliere financiering van een auto bij Auto Krediet Plan' %>
            </p>
          </div>
        </div>
        <div class="col right">
          <div class="content">
            <h5><%= phrase 'Waarom particulier financieren bij Auto Krediet Plan?' %></h5>
            <ul>
              <li><%= image_tag 'vink.png' %><%= phrase 'Slotbetaling altijd mogelijk voor lagere maandkosten' %></li>
              <li><%= image_tag 'vink.png' %><%= phrase 'Vaste maandkosten zijn altijd overzichtelijk voor u' %></li>
              <li><%= image_tag 'vink.png' %><%= phrase 'U bepaalt wat u betaald!' %></li>
            </ul>
            <p>
              <span><%= phrase 'Interesse?' %></span> <%= phrase 'Bezoek een Auto Service Haarlem vestiging of neem contact op' %>
            </p>
          </div>
        </div>
      </div>

      <div class="row second_row">

        <div class="banner">
          <section class="article_financieren">

            <div class="circle_container">
              <div class="orange_circle">
                <h4><%= phrase('financieren-finance-circle-3-title') %></h4>

                <p><%= phrase('financieren-finance-circle-3-text') %></p>

                <a href="../financierings_pagina/financierings_pagina.php" class="orange_btn"><%= phrase('financieren-finance-circle-3-button') %></a>
                <div class="white_circle"></div>
              </div>

              <div class="mini_logo"></div>
            </div>
          </section>
        </div>

        <div class="col left">
          <div class="content">
            <h3><%= phrase '50/50 Deal:' %></h3>
            <h4><%= phrase 'betaal de helft van uw auto in termijnen zonder rente!' %></h4>
            <p class="first_alinea">
              <%= phrase 'De meest complete én voordelige deal sluit u nu bij Auto Krediet Plan' %>
            </p>

            <h5><%= phrase 'Hoe werkt de 50/50 Deal? Heel simpel!' %></h5>
            <p class="second_alinea">
              <%= phrase '1. De helft van de aanschafprijs betaalt u vooraf.' %>
            </p>
          </div>
        </div>
        <div class="col right">
          <div class="car_img"></div>
        </div>
      </div>

      <%= image_tag 'geld_lenen_kost_geld.png', class: 'let_op' %>
    </div>
  </div>
</section>

<section class="mogelijkheden">
  <div class="wrapper">
    <div class="container-fluid content_container" style="background: url('<%= image_url 'bg_mogelijkheden.jpg' %>') no-repeat center; background-size: cover">

      <h2><%= phrase 'finance_header_financieringen' %></h2>

      <h3><%= phrase 'finance_sub_header_financieringen' %></h3>

      <%= render 'shared/finance_circles' %>
    </div>
  </div>
</section>