<section class="zakelijke_financiering zakelijke_financiering_particulier">
  <div class="wrapper">
    <div class="container-fluid content_container">

      <div class="banner_50_50" style="background: url('<%= image_path 'bg_particulier.png' %>'); background-size: cover;">
        <h1 class="animated fadeInDown"><%= phrase 'Particuliere financieringen' %></h1>
      </div>

      <%= image_tag 'img_zakelijk.png', class: 'small_device' %>

      <div class="row">
        <div class="col zakelijk">
          <div class="content">
            <h3 class="wow fadeInLeft"><%= phrase 'Particuliere financiering:' %></h3>
            <h4 class="wow fadeInLeft"><%= phrase 'De voordelen van Auto KredietPlan!' %></h4>

            <p class="first_alinea wow fadeInLeft">
              <%= phrase 'Hebt u de ideale auto gevonden en wilt u graag een financiering afsluiten?' %>
            </p>
            <p class="second_alinea wow fadeInLeft">
              <%= phrase 'Een particuliere financiering van een auto bij Auto Krediet Plan, gebeurt door middel van een huurkoopovereenkomst.' %>
            </p>
          </div>
        </div>
        <div class="col voordelen">
          <div class="content">
            <%= image_tag 'img_zakelijk.png' %>
            <h4 class="wow fadeInRight"><%= phrase 'Waarom particulier financieren bij Auto Krediet Plan?' %></h4>
            <ul class="wow fadeInRight">
              <li class="hoe_werkt">
                <%= image_tag 'vink.png' %>
                <%= phrase 'Slotbetaling altijd mogelijk voor lagere maandkosten' %>
              </li>
              <li class="hoe_werkt">
                <%= image_tag 'vink.png' %>
                <%= phrase 'Vaste maandkosten zijn altijd overzichtelijk voor u' %>
              </li>
              <li class="hoe_werkt">
                <%= image_tag 'vink.png' %>
                <%= phrase 'U bepaalt wat u betaald!' %>
              </li>
            </ul>

            <p class="second_alinea wow fadeInRight">
              <%= phrase 'Interesse? Bezoek een Auto Service Haarlem vestiging' %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="u_bepaald u_bepaald_hoeveel">
  <div class="wrapper">
    <div class="container-fluid content_container">

      <div class="banner1 banner wow pulse">
        <section class="article_financieren">

          <div class="circle_container">
            <div class="orange_circle">
              <h4><%= phrase '50/50 Deals (Particulier)' %></h4>

              <p><%= phrase 'Financial Lease. Zonder kapitaalverlies de snelste weg naar u nieuwe auto.' %></p>

              <a href="<%= financieringen_path %>" class="orange_btn"><%= phrase 'Klik hier' %></a>
              <div class="white_circle"></div>
            </div>

            <div class="mini_logo"></div>
          </div>
        </section>
      </div>

      <div class="content">
        <span class="helper"></span>
        <h3 class="wow fadeInRight"><span><%= phrase 'U bepaald hoeveel u betaald!' %></span>
          <%= phrase 'Meer dan 8000 klanten gingen u voor.' %></h3>
      </div>

      <div class="let_op"></div>

      <div class="img_car wow fadeInLeft"></div>

    </div>
  </div>
</section>

<%= render partial: 'zekerheden' %>

<section class="mogelijkheden">
  <div class="wrapper">
    <div class="container-fluid content_container" style="background: url('<%= image_url 'bg_mogelijkheden.jpg' %>') no-repeat center; background-size: cover">

      <h2><%= phrase 'finance_header_particulier' %></h2>

      <h3><%= phrase 'finance_sub_header_particulier' %></h3>

      <%= render 'shared/finance_circles' %>
    </div>
  </div>
</section>