<section class="zakelijke_financiering zakelijke_financiering_particulier">
  <div class="wrapper">
    <div class="container-fluid content_container">

      <div class="banner_50_50" style="background: url('<%= image_path 'bg_particulier.png' %>'); background-size: cover;">
        <h1>Particuliere financieringen</h1>
      </div>

      <%= image_tag 'img_zakelijk.png', class: 'small_device' %>

      <div class="row">
        <div class="col zakelijk">
          <div class="content">
            <h3>Particuliere financiering:</h3>
            <h4>De voordelen van Auto KredietPlan!</h4>

            <p class="first_alinea">
              Hebt u de ideale auto gevonden en wilt u graag een financiering afsluiten? Auto Krediet Plan biedt zéér voordelige particuliere financieringsmogelijkheden aan voor uw auto. U hebt zelf invloed op de maandlasten en u profiteert direct van een nieuwe auto!
            </p>
            <p class="second_alinea">
              Een particuliere financiering van een auto bij Auto Krediet Plan, gebeurt door middel van een huurkoopovereenkomst. Uw auto betaalt u af in vaste maandelijkse termijnen die van te voren zijn afgesproken. De looptijd varieert van 12 tot 72 maanden. Voor een lager maandtermijn kunt u ervoor kiezen om een slottermijn mee te nemen in de financiering. Over dit bedrag betaalt u alleen rente.
            </p>
          </div>
        </div>
        <div class="col voordelen">
          <div class="content">
            <%= image_tag 'img_zakelijk.png' %>
            <h4>Waarom particulier financieren bij Auto Krediet Plan?</h4>
            <ul>
              <li class="hoe_werkt">
                <%= image_tag 'vink.png' %>
                Slotbetaling altijd mogelijk voor lagere maandkosten
              </li>
              <li class="hoe_werkt">
                <%= image_tag 'vink.png' %>
                Vaste maandkosten zijn altijd overzichtelijk voor u
              </li>
              <li class="hoe_werkt">
                <%= image_tag 'vink.png' %>
                U bepaalt wat u betaald!
              </li>
            </ul>

            <p class="second_alinea">
              Interesse? Bezoek een Auto Service Haarlem vestiging of neem contact op met een van onze adviseurs voor vragen over de auto financiering die het beste bij uw situatie past. Maak eenvoudig online een afspraak voor een oriëntatiegesprek.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="u_bepaald u_bepaald_hoeveel">
  <div class="wrapper">
    <div class="container-fluid content_container">

      <div class="banner1 banner"><?php include('../general/article_financieren.php'); ?></div>

      <div class="content">
        <span class="helper"></span>
        <h3><span>U bepaald
                    hoeveel u betaald!</span>
          Meer dan 8000
          klanten gingen u voor.</h3>
      </div>

      <div class="let_op"></div>

      <div class="img_car"></div>

    </div>
  </div>
</section>

<%= render partial: 'zekerheden' %>

<section class="mogelijkheden">
  <div class="wrapper">
    <div class="container-fluid content_container" style="background: url('<%= image_url 'bg_mogelijkheden.jpg' %>') no-repeat center; background-size: cover">

      <h2><%= phrase 'finance_header_particulier' %></h2>

      <h3><%= phrase 'finance_sub_header_particulier' %></h3>

      <%= render 'shared/finance_circles' %>
    </div>
  </div>
</section>