<section class="sitemap">
  <div class="wrapper">
    <div class="container-fluid">
      <%= render 'shared/adress' %>
      <div class="info_links">
        <div class="algemeen info_col">
          <h4><%= phrase 'Algemeen' %></h4>
          <div class="first_col">
            <ul>
              <% @menus['sub_menu_1'].each do |menu_item| %>
                  <li class="<%= is_active_url(menu_item.route) %>">
                    <%= link_to menu_item.route do %>
                        <%= menu_item.name %>
                    <% end %>
                  </li>
              <% end %>
            </ul>
            <ul>
              <% @menus['sub_menu_2'].each do |menu_item| %>
                  <li class="<%= is_active_url(menu_item.route) %>">
                    <%= link_to menu_item.route do %>
                        <%= menu_item.name %>
                    <% end %>
                  </li>
              <% end %>
            </ul>
          </div>
          <div class="second_col">
            <ul>
              <% @menus['sub_menu_3'].each do |menu_item| %>
                  <li class="<%= is_active_url(menu_item.route) %>">
                    <%= link_to menu_item.route do %>
                        <%= menu_item.name %>
                    <% end %>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="tot_voorraad info_col">
          <h4><%= phrase 'Totale voorraad' %></h4>
          <div class="first_col">
            <ul class="brands">
              <% @brands[0..(@brands.length/2-1)].each do |brand| %>
                  <li>
                    <%= link_to "#{brand.name} (#{brand.cars.count})", brand_cars_path(brand) %>
                    <ul class="models">
                      <li>merk1</li>
                      <li>merk2</li>
                      <li>merk3</li>
                    </ul>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>