<section class="sitemap">
  <div class="wrapper">
    <div class="container-fluid">
      <%= render 'shared/adress' %>

      <div class="info_links">
        <div class="Adres info_col">
          <h4><%= phrase 'Adres & openingstijden' %></h4>
          <ul class="first_col">
            <li class="bold"><a href="#">Auto Service Haarlem</a></li>
            <li><%= phrase 'ash_address_1' %></li>
            <li><%= phrase 'ash_address_2' %></li>
            <li><%= phrase 'ash_address_3' %></li>
            <li><%= phrase 'ash_address_4' %></li>
          </ul>
          <ul>
            <li class="bold"><%= phrase 'ash_open_1' %></li>
            <li><%= phrase 'ash_open_2' %></li>
            <li class="bold"><%= phrase 'ash_open_3' %></li>
            <li><%= phrase 'ash_open_4' %></li>
            <li class="bold"><%= phrase 'ash_open_5' %></li>
            <li><%= phrase 'ash_open_6' %></li>
            <li class="bold"><%= phrase 'ash_open_7' %></li>
            <li><%= phrase 'ash_open_8' %></li>
          </ul>
        </div>
        <div class="Klantenservice info_col">
          <h4><%= phrase 'Klantenservice & Financieringen' %></h4>
          <div class="first_col">
            <ul>
              <% @menus['sub_menu_1'].each do |menu_item| %>
                  <li class="<%= is_active_url(menu_item.route) %>">
                    <%= link_to menu_item.route do %>
                        <%= menu_item.name %>
                    <% end %>
                  </li>
              <% end %>
            </ul>
            <ul>
              <% @menus['sub_menu_2'].each do |menu_item| %>
                  <li class="<%= is_active_url(menu_item.route) %>">
                    <%= link_to menu_item.route do %>
                        <%= menu_item.name %>
                    <% end %>
                  </li>
              <% end %>
            </ul>
          </div>
          <div class="second_col">
            <ul>
              <% @menus['sub_menu_3'].each do |menu_item| %>
                  <li class="<%= is_active_url(menu_item.route) %>">
                    <%= link_to menu_item.route do %>
                        <%= menu_item.name %>
                    <% end %>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="tot_voorraad info_col">
          <h4><%= phrase 'Totale voorraad' %></h4>
          <div class="first_col">
            <ul>
              <% @brands[0..(@brands.length/2-1)].each do |brand| %>
                  <li>
                    <%= link_to "#{brand.name} (#{brand.cars.count})", brand_cars_path(brand) %>
                  </li>
              <% end %>
            </ul>
          </div>
          <div class="second_col">
            <ul>
              <% @brands[(@brands.length/2)..-1].each do |brand| %>
                  <li>
                    <%= link_to "#{brand.name} (#{brand.cars.count})", brand_cars_path(brand) %>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>