<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Taxatie aanvragen</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for admin_root_path %>">Home</a>
      </li>
      <li class="active">
        <strong>Taxatie aanvragen</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Taxatie aanvragen</h5>
        </div>
        <div class="ibox-content">

          <table class="table table-striped"  >
            <thead>
            <tr>
              <th>Naam</th>
              <th>Telefoon</th>
              <th>Email</th>
              <th>Opmerking</th>
              <th>Kenteken</th>
              <th>Kilometerstand</th>
              <th>Acties</th>
            </tr>
            </thead>

            <tbody>
            <%= render @car_sale_requests %>
            </tbody>
          </table>

          <%= paginate @car_sale_requests, theme: 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered" %>

        </div>
      </div>
    </div>

  </div>
</div>

<% content_for :head do %>
    <%= stylesheet_link_tag 'admin/forms' %>
<% end %>

<% content_for :javascript do %>
    <%= javascript_include_tag 'admin/forms' %>

    <script type="text/javascript" charset="utf-8">
      $(document).ready(function () {
        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));

        elems.forEach(function (html) {
          var switchery = new Switchery(html);
        });

        $('.js-switch').on('change', function () {
          $(this).parents('form').submit();
        });

      });
    </script>
<% end %>