<!doctype html>
<html>
<head>
  <meta charset='utf-8'/>
  <%= wicked_pdf_stylesheet_link_tag "car_card" -%>
</head>
<body>
<div class="container">

  <div class="header">
    <div class="row">
      <div class="col">
        <%= wicked_pdf_image_tag 'logo_ash2.png' %>
      </div>
      <div class="col price_info">
        <table>
          <tr>
            <td class="first">Prijs</td>
            <td class="second"><%= format_money params[:car][:price_total] %></td>
          </tr>
          <tr>
            <td class="first">Per maand v.a.</td>
            <td class="second"><%= format_money params[:car][:price_month] %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="car_info">

    <p><%= params[:car][:display_name] %></p>

    <table>
      <tr>
        <td>Model: <%= params[:car][:model_name] %></td>
        <td>Brandstof: <%= params[:car][:fuel_type_name] %></td>
      </tr>
      <tr>
        <td>Bouwjaar: <%= params[:car][:manufacture_year] %></td>
        <td>KM stand: <%= number_with_delimiter params[:car][:mileage], delimiter: '.' %></td>
      </tr>
    </table>
  </div>

  <div class="acessoires">
    <h3>Acessoires</h3>
    <ul>
      <% @car.option_list.each do |option| %>
          <%= content_tag :li, option %>
      <% end %>
    </ul>
  </div>
</div>
</body>
</html>