<div class="adres_contact">   <!-- gestyled in general -->
  <div class="adres_container">
    <div class="berijkbaar">
      <p class="bold"><%= phrase 'Vragen' %></p>
      <p><%= phrase 'wij zijn berijkbaar via' %>:</p>
    </div>
    <div class="contact_venster phone">
      <figure class="phone"></figure>
      <p><%= phrase 'phone' %></p>
    </div>
    <div class="contact_venster whatsapp">
      <figure class="whatsapp"></figure>
      <p><%= phrase 'whatsapp' %></p>
    </div>
    <div class="contact_venster mail">
      <figure class="mail"></figure>
      <p><%= phrase 'email' %></p>
    </div>
    <div class="contact_venster chat">
      <figure class="chat"></figure>
      <p><%= phrase 'chat_with_employee' %></p>
    </div>
  </div>
</div>