<section class="article_financieren">

  <div class="circle_container">
    <div class="orange_circle">
      <h4><%= phrase('finance-circle-1-title') %></h4>

      <p><%= phrase('finance-circle-1-text') %></p>

      <a href="http://autokredietplan.nl/cars/financing/bussiness" target="_blank" class="orange_btn"><%= phrase('finance-circle-1-button') %></a>
      <div class="white_circle"></div>
    </div>

    <div class="mini_logo"></div>
  </div>
</section>
<section class="article_financieren">

  <div class="circle_container">
    <div class="orange_circle">
      <h4><%= phrase('finance-circle-2-title') %></h4>

      <p><%= phrase('finance-circle-2-text') %></p>

      <a href="http://autokredietplan.nl/cars/financing/private" target="_blank" class="orange_btn animated"><%= phrase('finance-circle-2-button') %></a>
      <div class="white_circle"></div>
    </div>

    <div class="mini_logo"></div>
  </div>
</section>

<section class="article_financieren">

  <div class="circle_container">
    <div class="orange_circle">
      <h4><%= phrase('finance-circle-3-title') %></h4>

      <p><%= phrase('finance-circle-3-text') %></p>

      <a href="http://http://autoservicehaarlem.nl/actie-weken" target="_blank" class="orange_btn"><%= phrase('finance-circle-3-button') %></a>
      <div class="white_circle"></div>
    </div>

    <div class="mini_logo"></div>
  </div>
</section>