<%= render 'main_slider' %>

<%= render 'layouts/search' %>

<%= render 'layouts/newsletter' %>

<%= render 'carousel' %>

<section class="like_ons">
  <div class="wrapper">
    <div class="container-fluid">

      <div class="left">
        <h3>Verkoop uw auto aan Auto Service Haarlem</h3>
        <p><span>Stap 1</span> - Kenteken & tellerstand van uw voertuig.</p>
        <p>&nbsp;<span>Stap 2</span> - Vul uw n.a.w. gegevens in.</p>

        <form class="sell_car">
          <input type="text" placeholder="Vul hier je kenteken in">
          <input type="text" placeholder="Vul hier je kilometerstand in">
          <button class="orange_btn">Verstuur aanvraag</button>
        </form>
      </div>

      <div class="right">

        <a href="http://www.facebook.nl" class="facebook social_media">
          <i></i>
          <p>Like ons</p>
          <%= image_tag 'plus_icon.png' %>
        </a>

        <a href="http://www.instagram.nl" class="instagram social_media">
          <i></i>
          <p>Volg ons</p>
          <%= image_tag 'plus_icon.png' %>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="mogelijkheden">
  <div class="wrapper">
    <div class="container-fluid content_container" style="background: url('<%= image_url 'bg_mogelijkheden.jpg' %>') no-repeat center; background-size: cover">

      <h2>Wilt uw deze auto financieren?</h2>
      <h3>Bekijk hier de mogelijkheden!</h3>

      <%= render 'shared/finance_circles' %>

    </div>
  </div>
</section>

<section class="actie">
  <div class="wrapper">
    <div class="container-fluid">

      <article class="expectaion _actie">
        <%= image_tag 'logo_ash2.png' %>
        <h5>Wat kan je allemaal van ons verwachten...</h5>
        <p>Meer dan u gewend bent !  Auto Service Haarlem is reeds 25 jaar actief in de verkoop van jong gebruikte auto's. Wij leveren kwalitatief hoogwaardige occasions tegen de scherpste prijzen. Klantgerichtheid staat bij ons centraal. Wij denken dan ook graag mee in elke vorm van financieren en vinden dat een auto bereikbaar moet blijven voor iedereen! Kom eens langs en ervaar het verschil...
          Daarom ons motto : "U bepaalt hoeveel u betaalt ! "</p>
      </article>

      <article class="vw_banner _actie" style="background: url('<%= image_url '2011-vw-golf-r.png' %>') no-repeat center; background-size: calc(100% * 0.8);">
        <h5>VOLKSWAGEN WEKEN</h5>
        <p>Ook zakelijk zeer voordelig te financieren met Auto Krediet Plan</p>
        <a href="../actie_pagina/actie_pagina.php" class="orange_btn">Bekijk deze actie</a>
      </article>
    </div>
  </div>
</section>