<%= render 'main_slider' %>

<%= render 'layouts/search' %>

<%= render 'layouts/newsletter' %>

<%= render 'carousel' %>

<section class="like_ons">

  <div class="overlay_taxation animated">
    <div class="cross"></div>
    <div class="content">
      <%= form_for CarSaleRequest.new, method: :post do |f| %>
          <div class="left">
            <%= f.text_field :name, placeholder: 'Je naam', required: true %>
            <%= f.text_field :phone, placeholder: 'Je telefoon nummer', required: true %>
            <%= f.text_field :email, placeholder: 'Je email adres', required: true %>
            <%= f.text_field :license_plate, placeholder: 'Vul hier je kenteken in', required: true %>
          </div>
        <div class="right">
          <%= f.text_area :message, placeholder: 'Persoonlijk bericht' %>
          <%= f.text_field :mileage, placeholder: 'Vul hier je kilometerstand in', required: true %>
          <button type="submit" class="orange_btn"><%= phrase 'Taxatie aanvragen' %></button>
        </div>
      <% end %>
    </div>
  </div>

  <div class="wrapper">
    <div class="container-fluid">

      <div class="left">
        <h3><%= phrase 'Verkoop uw auto aan Auto Service Haarlem' %></h3>

        <p><%= phrase 'Stap 1 - Kenteken & tellerstand van uw voertuig. Stap 2 - Vul uw n.a.w. gegevens in' %></p>

        <button class="orange_btn taxation_btn"><%= phrase 'Taxatie aanvragen' %></button>
      </div>

      <div class="right">

        <a href="https://www.facebook.com/autoservicehaarlem" target="_blank" class="facebook social_media">
          <i></i>

          <p>Like ons</p>
          <%= image_tag 'plus_icon.png' %>
        </a>

        <a href="https://www.instagram.com/autoservicehaarlem/" target="_blank" class="instagram social_media">
          <i></i>

          <p>Volg ons</p>
          <%= image_tag 'plus_icon.png' %>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="mogelijkheden">
  <div class="wrapper">
    <div class="container-fluid content_container" style="background: url('<%= image_url 'bg_mogelijkheden.jpg' %>') no-repeat center; background-size: cover">

      <h2><%= phrase 'Wilt u deze auto financieren?' %></h2>

      <h3><%= phrase 'Bekijk hier de mogelijkheden!' %></h3>

      <%= render 'shared/finance_circles' %>

    </div>
  </div>
</section>

<section class="actie">
  <div class="wrapper">
    <div class="container-fluid">

      <article class="expectaion _actie">
        <%= image_tag 'logo_ash2.png' %>
        <h5><%= phrase 'Wat kan je allemaal van ons verwachten' %></h5>

        <p><%= phrase 'Meer dan u gewend bent' %></p>
      </article>

      <article class="vw_banner _actie" style="background: url('<%= image_url Setting.get('home_action_img') %>') no-repeat center; background-size: calc(100% * 0.8);">
        <h5><%= phrase 'home_actie_titel' %></h5>

        <p><%= phrase 'home_actie_sub_titel' %></p>
        <%= link_to phrase('Bekijk deze actie'), page_path(Setting.get('home_action_page')), class: 'orange_btn' %>
      </article>

      <ul id="banner_carousel">
        <li class="banners" style="background: url('<%= image_url 'banner_vw_homepage.jpg' %>') no-repeat center; background-size: cover"></li>
        <li class="banners" style="background: url('<%= image_url 'slide_desktopapp.jpg' %>') no-repeat center; background-size: cover"></li>
      </ul>
    </div>
  </div>
</section>