<section class="error">
  <div class="wrapper">
    <div class="container-fluid content_container">
      <%= render 'shared/adress' %>

      <div class="_404_melding">
        <div class="content">
          <h3><%= phrase '500 pagina - Onze excuses…' %></h3>
          <small><%= phrase 'Er is een fout opgetreden, probeer het later opnieuw' %></small>
        </div>

        <a href="<%= root_path %>" class="orange_btn"><%= phrase 'Naar de Homepage' %></a>
      </div>
    </div>
  </div>
</section>