<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <div>

      <h1 class="logo-name">ASH</h1>

    </div>
    <h3>ASH CMS</h3>
    <p>Log in met een admin account om de website aan te passen</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'm-t') do |f| %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>
        <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
        <% end -%>
        <%= f.submit "Login", class: 'btn btn-primary block full-width m-b' %>

    <% end %>
  </div>
</div>

