<section class="merk_uitgelicht">
  <div class="wrapper">
    <div class="container-fluid content_container">
      <div class="row">
        <div class="col col-xs-4 right_modellen">
          <div class="specific_car">
            <span class="helper"></span>
            <div class="car_images"
                 style="background: url('<%= image_url @brand.image.menu %>') no-repeat center;"></div>
            <p><%= @brand.name %> (<%= @brand.cars.count %>)</p>
          </div>

          <div class="select_col">
            <div class="select">
              <span class="arrow"></span>
              <select name="merk" class="search_dropdown" onchange="if (this.value) window.location.href=this.value">
                <option value="<%= brand_cars_path(@brand) %>">Alle modellen</option>
                <% @brand.models.order(:name).each do |model| %>
                    <option value="<%= url_for action: :cars, controller: :models, brand_id: @brand.slug, model_id: model.slug || model.id %>" <%= @model == model ? 'selected' : '' %>><%= model.name %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="col col-xs-8 left_content">
          <h1 class="brand_name"><%= @brand.name %></h1>
          <%= @brand.description.html_safe %>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</section>

<%= render 'cars/pagination', cars: @cars %>

<%= render 'cars/select_compare' %>

<section class="bekijk_voorraad">
  <div class="wrapper">
    <div class="container-fluid content_container">

      <ul class="autos">
        <% @cars.each do |car| %>
            <li class="auto">
              <%= render car %>
            </li>
        <% end %>
      </ul>

    </div>
  </div>
</section>

<%= render 'cars/pagination', cars: @cars %>

<section class="mogelijkheden">
  <div class="wrapper">
    <div class="container-fluid content_container" style="background: url('<%= image_url 'bg_mogelijkheden.jpg' %>') no-repeat center; background-size: cover">

      <h2><%= phrase 'finance_header_brand_page' %></h2>
      <h3><%= phrase 'finance_sub_header_brand_page' %></h3>

      <%= render 'shared/finance_circles' %>
    </div>
  </div>
</section>

