<section class="all_cars">
  <div class="wrapper">
    <div class="container-fluid content_container">

      <div class="left_container">
        <div class="left">
          <div class="select_menu">
            <div class="tab auto_financieren" data-searchfield="finance_field"><span class="helper"></span>Auto financieren</div>
            <div class="tab active auto_kopen" data-searchfield="buy_field"><span class="helper"></span>Auto kopen</div>
            <div class="search_fields finance_field">

              <div class="select_row">
                <p>Merk:</p>

                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Selecteer merk</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>
              <div class="select_row">
                <p>Model:</p>

                <div class="select">
                  <span class="arrow"></span>
                  <select name="model" class="merk_dropdown">
                    <option>Kies eerst een Model</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>
              <div class="select_row">
                <p>Brandstof:</p>

                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Selecteer voorkeur</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>
              <div class="select_row">
                <p>Carrosserie:</p>

                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Selecteer voorkeur</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>
              <div class="select_row">
                <p>Transmissie:</p>

                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Selecteer voorkeur</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>
              <div class="row select">
                <div class="select_col col left">
                  <p>Bouwjaar van:</p>

                  <div class="select">
                    <span class="arrow"></span>
                    <select name="merk" class="merk_dropdown">
                      <option>Selecteer</option>
                      <option>opel</option>
                      <option>fiat</option>
                      <option>fiat</option>
                      <option>fiat</option>
                      <option>fiat</option>
                      <option>fiat</option>
                      <option>fiat</option>
                      <option>fiat</option>
                      <option>fiat</option>
                      <option>fiat</option>
                    </select>
                  </div>
                </div>

                <div class="select_col col right">
                  <p>Bouwjaar tot:</p>

                  <div class="select">
                    <span class="arrow"></span>
                    <select name="merk" class="merk_dropdown">
                      <option>Selecteer</option>
                      <option>opel</option>
                      <option>fiat</option>
                      <option>fiat</option>
                      <option>fiat</option>
                      <option>fiat</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row slider">
                <div class="slider_col col">
                  <p><%= phrase 'Prijs tot' %>:</p>

                  <div id="finance_slider_to"></div>
                </div>
              </div>
              <div class="row slider">
                <div class="slider_col col">
                  <p><%= phrase 'Prijs per maand tot' %>:</p>

                  <div id="finance_slider_month"></div>
                </div>
              </div>

              <button class="orange_btn"><%= phrase 'Zoeken' %> (882)</button>
            </div>
            <div class="search_fields buy_field active">

              <div class="select_row">
                <p>Merk:</p>

                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Selecteer merk</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>
              <div class="select_row">
                <p>Model:</p>

                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Kies eerst een merk</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>
              <div class="select_row">
                <p>Brandstof:</p>

                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Selecteer voorkeur</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>
              <div class="select_row">
                <p>Carrosserie:</p>

                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Selecteer voorkeur</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>
              <div class="select_row">
                <p>Transmissie:</p>

                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Selecteer voorkeur</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>
              <div class="row select">
                <div class="select_col col left">
                  <p>Bouwjaar van:</p>

                  <div class="select">
                    <span class="arrow"></span>
                    <select name="merk" class="merk_dropdown">
                      <option>Selecteer</option>
                      <option>opel</option>
                      <option>fiat</option>
                      <option>fiat</option>
                      <option>fiat</option>
                      <option>fiat</option>
                      <option>fiat</option>
                      <option>fiat</option>
                      <option>fiat</option>
                      <option>fiat</option>
                      <option>fiat</option>
                    </select>
                  </div>
                </div>

                <div class="select_col col right">
                  <p>Bouwjaar tot:</p>

                  <div class="select">
                    <span class="arrow"></span>
                    <select name="merk" class="merk_dropdown">
                      <option>Selecteer</option>
                      <option>opel</option>
                      <option>fiat</option>
                      <option>fiat</option>
                      <option>fiat</option>
                      <option>fiat</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row slider">
                <div class="slider_col col">
                  <p>Prijs tot:</p>

                  <div id="buy_slider_to"></div>
                </div>
              </div>
              <div class="row slider">
                <div class="slider_col col">
                  <p>Prijs per maand tot:</p>

                  <div id="buy_slider_month"></div>
                </div>
              </div>

              <button class="orange_btn">Zoeken (882)</button>
            </div>
          </div>

          <div class="lease_budget">
            <h5><%= phrase 'Wat is uw Lease buget per maand?' %></h5>

            <div class="tot"><a href="#"><span class="helper"></span>TOT €200,-</a></div>
            <div class="tot"><a href="#"><span class="helper"></span>€200,- & €300,-</a></div>
            <div class="tot active"><a href="#"><span class="helper"></span>€300,- & €400,-</a></div>
            <div class="tot"><a href="#"><span class="helper"></span>€400,- & €500,-</a></div>
            <div class="tot"><a href="#"><span class="helper"></span>€500,- & €600,-</a></div>
            <div class="tot"><a href="#"><span class="helper"></span>BOVEN €600,-</a></div>
          </div>
        </div>
      </div>

      <div class="right">
        <ul>
          <% cars[0..5].each do |car| %>
              <li>
                <%= render car %>
              </li>
          <% end %>

          <li class="banner">
            <article class="car_subsection_banner">
              <a href="#">
                <h3>Auto Service Haarlem Ford weken!</h3>
              </a>
            </article>
          </li>

          <% cars[6..-1].each do |car| %>
              <li>
                <%= render car %>
              </li>
          <% end if cars[6..-1].present? %>
        </ul>
      </div>
    </div>
  </div>
</section>