<div class="item">
  <article class="article_car hart <%= 'best_day_deal' if car.best_day_deal? %>">

    <div class="hover_element">
      <div class="content_box">
        <h4><%= car.brand.name %></h4>
        <h5><%= car.model.name %> <%= car.car_type %></h5>

        <% if car.price_discount.present? %>
            <table>
              <tr>
                <td><%= phrase 'Van' %></td>
                <td><%= phrase 'Voor' %></td>
              </tr>
              <tr>
                <td><%= format_money car.price_total %></td>
                <td><%= format_money car.price_discount %></td>
              </tr>
            </table>
        <% else %>
            <small>
              <%= format_money car.price_total %>
            </small>
        <% end %>

        <%= link_to phrase('bekijk_deze_auto'), car_path(car), class: :orange_btn %>
        <p class="click_hier"><%= phrase 'Deze auto financieren? Klik hieronder!' %></p>
      </div>
      <div class="finance_mogelijkheden">
        <a href="<%= car_finance_car_path(car, 'bussiness') %>" class="zakelijk finance_opties">
          <table>
            <tr class="options">
              <td class="first finance"><%= phrase 'Zakelijk vanaf' %></td>
              <td class="finance"><%= format_money car.price_month %> p/m</td>
            </tr>
          </table>
          <div class="orange_arrow"><%= image_tag 'arrow_right.svg' %></div>
        </a>
        <a href="<%= car_finance_car_path(car, 'private') %>" class="particulier finance_opties">
          <table>
            <tr>
              <td class="first finance"><%= phrase 'Particulier vanaf' %></td>
              <td class="finance"><%= format_money car.price_month %> p/m</td>
            </tr>
          </table>
          <div class="orange_arrow"><%= image_tag 'arrow_right.svg' %></div>
        </a>
        <a href="<%= car_finance_car_path(car, '50_50') %>" class="fifty_fifty finance_opties">
          <table>
            <tr>
              <td class="first finance"><%= phrase '50/50 Deal' %></td>
              <td class="finance"><%= format_money car.price_50_50 %></td>
            </tr>
          </table>
          <div class="orange_arrow"><%= image_tag 'arrow_right.svg' %></div>
        </a>
      </div>
    </div>

    <div class="overlay_compare">
      <%= link_to phrase('vergelijken'), car_add_to_compare_selection_path(car), class: 'orange_btn', remote: true %>
    </div>

    <figure class="main_image">
      <%= image_tag car.main_image.file.thumb %>

      <div class="best_deal">
        <p><%= phrase 'BEST DAY DEAL' %></p>
        <span class="day_deal_star"></span>
        <span class="day_deal_star"></span>
        <span class="day_deal_star"></span>
      </div>
    </figure>

    <div class="container-fluid car_container">
      <% if @car_likes.include? car.id %>
          <div class="hart"></div>
      <% end %>
      <div class="car_info">
        <h5><%= car.brand.name %></h5>

        <p><%= car.model.name %> <%= car.car_type %></p>
      </div>

      <div class="aanbieding">
        <% if car.price_discount.present? %>
            <table>
              <tr>
                <td><%= phrase 'Van' %></td>
                <td><%= phrase 'Voor' %></td>
              </tr>
              <tr>
                <td><%= format_money car.price_total %></td>
                <td><%= format_money car.price_discount %></td>
              </tr>
            </table>
        <% else %>
            <small>
              <%= format_money car.price_total %>
            </small>
        <% end %>
      </div>

      <div class="p_m">
        <table>
          <tr>
            <td class="rij_deze"><%= phrase 'Rij deze auto p.m. vanaf' %></td>
            <td class="orange"><%= format_money car.price_month %></td>
          </tr>
        </table>
      </div>
    </div>
  </article>
</div>