<section class="all_cars">
  <div class="wrapper">
    <div class="container-fluid content_container">

      <div class="left_container">
        <div class="left">
          <%= render 'search' %>
        </div>
      </div>

      <div class="right">
        <ul>
          <% cars[0..5].each do |car| %>
              <li>
                <%= render car %>
              </li>
          <% end %>

          <li class="banner">
            <%= link_to Setting.get('cars_banner_big_link') do %>
                <article class="car_subsection_banner" style="background: url('<%= image_url(Setting.get('cars_banner_big')) %>') no-repeat center; background-size: cover">
                </article>
            <% end %>
          </li>

          <% cars[6..-1].each do |car| %>
              <li>
                <%= render car %>
              </li>
          <% end if cars[6..-1].present? %>
        </ul>
      </div>
    </div>
  </div>
</section>