<section class="aantal_paginas">
  <div class="wrapper">
    <div class="container-fluid content_container">

      <div class="aantal_pages">
        <p class="nav-text">Aantal pagina’s:</p>
        <p class="nav-text_small">Volgende:</p>
        <nav class="pagination">
          <span class="prev">
            <%= link_to_previous_page @cars, '' %>
          </span>
          <div class="page_indicator">
            <small><%= @cars.current_page %></small>
            /
            <small><%= @cars.num_pages %></small>
          </div>
          <span class="next">
            <%= link_to_next_page @cars, '' %>
          </span>
        </nav>
      </div>

      <div class="row page_search">

        <div class="compare_btn"><%= phrase 'Autos met elkaar vergelijken' %></div>

        <div class="select_col col">
          <p class="nav-text">Sorteer op:</p>
          <div class="select">
            <span class="arrow"></span>
            <select name="merk" class="cars_filter_select" onchange="if (this.value) window.location.href=this.value">
              <option>Merk Model Prijs</option>
              <option value="<%= url_for params.merge({order: {type: "brand", direction: "asc"}}) %>" <%= params[:order].try(:symbolize_keys) == {type: "brand", direction: "asc"} ? 'selected' : '' %>>Merk A-Z</option>
              <option value="<%= url_for params.merge({order: {type: "brand", direction: "desc"}}) %>" <%= params[:order].try(:symbolize_keys) == {type: "brand", direction: "desc"} ? 'selected' : '' %>>Merk Z-A</option>
              <option value="<%= url_for params.merge({order: {type: "model", direction: "asc"}}) %>" <%= params[:order].try(:symbolize_keys) == {type: "model", direction: "asc"} ? 'selected' : '' %>>Model A-Z</option>
              <option value="<%= url_for params.merge({order: {type: "model", direction: "desc"}}) %>" <%= params[:order].try(:symbolize_keys) == {type: "model", direction: "desc"} ? 'selected' : '' %>>Model Z-A</option>
              <option value="<%= url_for params.merge({order: {type: "price", direction: "asc"}}) %>" <%= params[:order].try(:symbolize_keys) == {type: "price", direction: "asc"} ? 'selected' : '' %>>Prijs Oplopend</option>
              <option value="<%= url_for params.merge({order: {type: "price", direction: "desc"}}) %>" <%= params[:order].try(:symbolize_keys) == {type: "price", direction: "desc"} ? 'selected' : '' %>>Prijs Aflopend</option>
            </select>
          </div>
        </div>

        <div class="select_col col small_not_visible">
          <p class="nav-text">Resultaten per pagina:</p>
          <div class="select">
            <span class="arrow"></span>
            <select name="merk" class="search_dropdown" onchange="if (this.value) window.location.href=this.value">
              <option>Getoonde voertuigen: <%= params[:per_page] || Car.default_per_page %> stuks</option>
              <option value="<%= url_for params.merge(per_page: 12) %>">12</option>
              <option value="<%= url_for params.merge(per_page: 24) %>">24</option>
              <option value="<%= url_for params.merge(per_page: 36) %>">36</option>
              <option value="<%= url_for params.merge(per_page: 48) %>">48</option>
              <option value="<%= url_for params.merge(per_page: 96) %>">96</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="select_compare">
  <div class="wrapper">
    <div class="container-fluid content_container">

      <div class="compare_selection animated">
        <%= render 'cars/compare_selection_cars' %>
      </div>
    </div>
  </div>
</section>