<section class="vergelijk_car">
  <div class="wrapper">
    <div class="container-fluid content_container">

      <%= render 'shared/adress' %>

      <section class="cars_vergelijken">
        <div class="first_table_section table_section">
          <% col_width = @car_3.present? ? '25%' : '33%' %>
          <table class="specificaties_table">
            <tr class="header">
              <th width="<%= col_width %>">
                <h4><%= phrase 'compare_specifications' %></h4>

                <div class="voertuigen_vergelijken">
                  <p><%= @car_3.present? ? 3 : 2 %> <%= phrase 'voertuigen_vergelijken' %></p>
                  <div class="orange_btn"><%= phrase 'verschillen_tonen' %></div>
                </div>
              </th>
              <td class="car car1" width="<%= col_width %>">
                <div class="car_img"
                     style="background: url('<%= @car_1.main_image.file.thumb.url %>') no-repeat center; background-size: cover;"></div>
                <% if @car_3.present? %>
                    <%= link_to '', compare_2_cars_path(@car_2, @car_3), class: 'cross' %>
                <% end %>
              </td>
              <td class="car car2" width="<%= col_width %>">
                <div class="car_img"
                     style="background: url('<%= @car_2.main_image.file.thumb.url %>') no-repeat center; background-size: cover;"></div>
                <% if @car_3.present? %>
                    <%= link_to '', compare_2_cars_path(@car_1, @car_3), class: 'cross' %>
                <% end %>
              </td>
              <% if @car_3.present? %>
                  <td class="car car3" width="<%= col_width %>">
                    <div class="car_img"
                         style="background: url('<%= @car_3.main_image.file.thumb.url %>') no-repeat center; background-size: cover;"></div>
                    <% if @car_3.present? %>
                        <%= link_to '', compare_2_cars_path(@car_1, @car_2), class: 'cross' %>
                    <% end %>
                  </td>
              <% end %>
            </tr>
            <tr>
              <th class="first_margin"><%= phrase 'merk' %></th>
              <td class="car car1 first_margin"><%= @car_1.brand.name %></td>
              <td class="car car2 first_margin"><%= @car_2.brand.name %></td>
              <% if @car_3.present? %>
                  <td class="car car3 first_margin"><%= @car_3.brand.name %></td>
              <% end %>
            </tr>
            <tr>
              <th><%= phrase 'model' %></th>
              <td class="car car1"><%= @car_1.model.name %></td>
              <td class="car car2"><%= @car_2.model.name %></td>
              <% if @car_3.present? %>
                  <td class="car car3"><%= @car_3.model.name %></td>
              <% end %>
            </tr>
            <tr>
              <th><%= phrase 'type' %></th>
              <td class="car car1"><%= @car_1.car_type %></td>
              <td class="car car2"><%= @car_2.car_type %></td>
              <% if @car_3.present? %>
                  <td class="car car3"><%= @car_3.car_type %></td>
              <% end %>
            </tr>
            <tr>
              <th><%= phrase 'prijs' %></th>
              <td class="car car1"><%= format_money @car_1.price_total %></td>
              <td class="car car2"><%= format_money @car_2.price_total %></td>
              <% if @car_3.present? %>
                  <td class="car car3"><%= format_money @car_3.price_total %></td>
              <% end %>
            </tr>
            <tr>
              <th><%= phrase '50_50_deal' %></th>
              <td class="car car1"><%= format_money @car_1.price_50_50 %></td>
              <td class="car car2"><%= format_money @car_2.price_50_50 %></td>
              <% if @car_3.present? %>
                  <td class="car car3"><%= format_money @car_3.price_50_50 %></td>
              <% end %>
            </tr>
            <tr>
              <th><%= phrase 'maand_bedrag' %></th>
              <td class="car car1"><%= format_money @car_1.price_month %></td>
              <td class="car car2"><%= format_money @car_2.price_month %></td>
              <% if @car_3.present? %>
                  <td class="car car3"><%= format_money @car_3.price_month %></td>
              <% end %>
            </tr>
            <tr>
              <th><%= phrase 'carosserie' %></th>
              <td class="car car1"><%= @car_1.body_type.name %></td>
              <td class="car car2"><%= @car_2.body_type.name %></td>
              <% if @car_3.present? %>
                  <td class="car car3"><%= @car_3.body_type.name %></td>
              <% end %>
            </tr>
            <tr>
              <th><%= phrase 'transmissie' %></th>
              <td class="car car1"><%= @car_1.transmission_type.name %></td>
              <td class="car car2"><%= @car_2.transmission_type.name %></td>
              <% if @car_3.present? %>
                  <td class="car car3"><%= @car_3.transmission_type.name %></td>
              <% end %>
            </tr>
            <tr>
              <th><%= phrase 'kleur' %></th>
              <td class="car car1"><%= [@car_1.color, @car_1.color_type].join(' ') %></td>
              <td class="car car2"><%= [@car_2.color, @car_2.color_type].join(' ') %></td>
              <% if @car_3.present? %>
                  <td class="car car3"><%= [@car_3.color, @car_3.color_type].join(' ') %></td>
              <% end %>
            </tr>
            <tr>
              <th><%= phrase 'km_stand' %></th>
              <td class="car car1"><%= @car_1.mileage %> km</td>
              <td class="car car2"><%= @car_2.mileage %> km</td>
              <% if @car_3.present? %>
                  <td class="car car3"><%= @car_3.mileage %> km</td>
              <% end %>
            </tr>
            <tr>
              <th><%= phrase 'brandstof' %></th>
              <td class="car car1"><%= @car_1.fuel_type.name.try(:capitalize) %></td>
              <td class="car car2"><%= @car_2.fuel_type.name.try(:capitalize) %></td>
              <% if @car_3.present? %>
                  <td class="car car3"><%= @car_3.fuel_type.name.try(:capitalize) %></td>
              <% end %>
            </tr>
            <tr>
              <th><%= phrase 'bouwjaar' %></th>
              <td class="car car1"><%= @car_1.manufacture_year %></td>
              <td class="car car2"><%= @car_2.manufacture_year %></td>
              <% if @car_3.present? %>
                  <td class="car car3"><%= @car_3.manufacture_year %></td>
              <% end %>
            </tr>
            <tr>
              <th><%= phrase 'cil_inhoud' %></th>
              <td class="car car1"><%= @car_1.engine_size %> cc</td>
              <td class="car car2"><%= @car_2.engine_size %> cc</td>
              <% if @car_3.present? %>
                  <td class="car car3"><%= @car_3.engine_size %> cc</td>
              <% end %>
            </tr>
            <tr>
              <th><%= phrase 'aantal_cilinders' %></th>
              <td class="car car1"><%= @car_1.cylinders %></td>
              <td class="car car2"><%= @car_2.cylinders %></td>
              <% if @car_3.present? %>
                  <td class="car car3"><%= @car_3.cylinders %></td>
              <% end %>
            </tr>
            <tr>
              <th><%= phrase 'vermogen' %></th>
              <td class="car car1"><%= @car_1.engine_power %> pk</td>
              <td class="car car2"><%= @car_2.engine_power %> pk</td>
              <% if @car_3.present? %>
                  <td class="car car3"><%= @car_3.engine_power %> pk</td>
              <% end %>
            </tr>
            <tr>
              <th><%= phrase 'top_snelheid' %></th>
              <td class="car car1"><%= @car_1.top_speed %> km/u</td>
              <td class="car car2"><%= @car_2.top_speed %> km/u</td>
              <% if @car_3.present? %>
                  <td class="car car3"><%= @car_3.top_speed %> km/u</td>
              <% end %>
            </tr>
            <tr>
              <th><%= phrase 'interieur' %></th>
              <td class="car car1"><%= @car_1.interior %></td>
              <td class="car car2"><%= @car_2.interior %></td>
              <% if @car_3.present? %>
                  <td class="car car3"><%= @car_3.interior %></td>
              <% end %>
            </tr>
            <tr>
              <th><%= phrase 'energielabel' %></th>
              <td class="car car1"><%= @car_1.energy_label %></td>
              <td class="car car2"><%= @car_2.energy_label %></td>
              <% if @car_3.present? %>
                  <td class="car car3"><%= @car_3.energy_label %></td>
              <% end %>
            </tr>
            <tr>
              <th><%= phrase 'wegenbelasting' %></th>
              <td class="car car1"><%= @car_1.road_tax %> p/kw</td>
              <td class="car car2"><%= @car_2.road_tax %> p/kw</td>
              <% if @car_3.present? %>
                  <td class="car car3"><%= @car_3.road_tax %> p/kw</td>
              <% end %>
            </tr>
          </table>
        </div>

        <div class="second_table_section table_section">
          <h4><%= phrase 'accessoires' %></h4>
          <table class="acessiores_table">
            <% @equal_options.each do |option| %>
                <tr>
                  <td class="emty_space" width="<%= col_width %>"></td>
                  <td class="car car1" width="<%= col_width %>">• <%= option %></td>
                  <td class="car car2" width="<%= col_width %>">• <%= option %></td>
                  <% if @car_3.present? %>
                      <td class="car car3" width="<%= col_width %>">• <%= option %></td>
                  <% end %>
                </tr>
            <% end %>
          </table>
        </div>
      </section>

      <section class="mogelijkheden">
        <div class="wrapper">
          <div class="container-fluid content_container" style="background: url('<%= image_url 'bg_mogelijkheden.jpg' %>') no-repeat center; background-size: cover">

            <h2><%= phrase 'Wilt uw deze auto financieren?' %></h2>
            <h3><%= phrase 'Bekijk hier de mogelijkheden!' %></h3>

            <%= render 'shared/finance_circles' %>
          </div>
        </div>
      </section>

      <div class="error">
        <h4><%= phrase 'Deze_optie_is_niet_beschikbaar_voor_dit_scherm_formaat' %></h4>
      </div>
    </div>
  </div>
</section>