<section class="banners">
  <div class="wrapper">
    <div class="container-fluid content_container">
      <%= link_to Setting.get('cars_banner_1_link') do %>
          <article class="banner1 banner" style="background: url('<%= image_url Setting.get('cars_banner_1') %>') no-repeat center; background-size: cover;"></article>
      <% end %>
      <%= link_to Setting.get('cars_banner_2_link') do %>
          <article class="banner2 banner" style="background: url('<%= image_url Setting.get('cars_banner_2') %>') no-repeat center; background-size: cover;"></article>
      <% end %>
      <%= link_to Setting.get('cars_banner_3_link') do %>
          <article class="banner3 banner" style="background: url('<%= image_url Setting.get('cars_banner_3') %>') no-repeat center; background-size: cover;"></article>
      <% end %>
      <%= link_to Setting.get('cars_banner_4_link') do %>
          <article class="banner4 banner" style="background: url('<%= image_url Setting.get('cars_banner_4') %>') no-repeat center; background-size: cover;"></article>
      <% end %>
    </div>
  </div>
</section>

<section class="compare_select_container">
  <%= render 'pagination', cars: @cars, compare: true %>
</section>

<%= render 'cars', cars: @cars %>

<%= render 'pagination', cars: @cars %>

<section class="mogelijkheden">
  <div class="wrapper">
    <div class="container-fluid content_container" style="background: url('<%= image_url 'bg_mogelijkheden.jpg' %>') no-repeat center; background-size: cover">

      <h2><%= phrase 'Wilt uw deze auto financieren?' %></h2>

      <h3><%= phrase 'Bekijk hier de mogelijkheden!' %></h3>

      <%= render 'shared/finance_circles' %>
    </div>
  </div>
</section>