<section class="auto_uitgelicht">
  <div class="wrapper">
    <div class="container-fluid content_container">

      <!-- afspraak -->
      <%= render 'appointment_request', car: @car %>
      <div class="overlay_financier animated">
        <section class="mogelijkheden">
          <div class="wrapper">
            <div class="container-fluid content_container" style="background: url('<%= image_url 'bg_mogelijkheden.jpg' %>') no-repeat center; background-size: cover">

              <%= image_tag 'remove-button.png', class: 'cross' %>

              <h2><%= phrase 'finance_header_car_detail_page' %></h2>

              <h3><%= phrase 'finance_sub_header_car_detail_page' %></h3>

              <section class="article_financieren">

                <div class="circle_container">
                  <div class="orange_circle">
                    <h4>50/50 DEALS (PARTICULIER)</h4>

                    <p><%= phrase('finance-circle-1-text') %></p>

                    <a href="<%= car_finance_car_path(@car, '50_50') %>" class="orange_btn"><%= phrase('finance-circle-1-button') %></a>

                    <div class="white_circle"></div>
                  </div>

                  <div class="mini_logo"></div>
                </div>
              </section>
              <section class="article_financieren">

                <div class="circle_container">
                  <div class="orange_circle">
                    <h4>PARTICULIER FINANCIEREN</h4>

                    <p><%= phrase('finance-circle-2-text') %></p>

                    <a href="<%= car_finance_car_path(@car, 'private') %>" class="orange_btn"><%= phrase('finance-circle-2-button') %></a>

                    <div class="white_circle"></div>
                  </div>

                  <div class="mini_logo"></div>
                </div>
              </section>
              <section class="article_financieren">

                <div class="circle_container">
                  <div class="orange_circle">
                    <h4>ZAKELIJK <br>FINANCIEREN</h4>

                    <p><%= phrase('finance-circle-3-text') %></p>

                    <a href="<%= car_finance_car_path(@car, 'bussiness') %>" class="orange_btn"><%= phrase('finance-circle-3-button') %></a>

                    <div class="white_circle"></div>
                  </div>

                  <div class="mini_logo"></div>
                </div>
              </section>
            </div>
          </div>
        </section>
      </div>

      <div class="car_slider carslider_responsive">
        <ul>
          <% @car.car_images.each do |car_media| %>
              <li>
                <div class="background"
                     style="background: url('<%= image_path car_media.file.large %>') no-repeat center; background-size: cover;"></div>
              </li>
          <% end %>
        </ul>
      </div>

      <div class="model">
        <h2><%= @car.brand.name %></h2>

        <h3><%= [@car.model.name, @car.car_type].join(' ') %></h3>

        <table>
          <tr>
            <td class="first">Prijs</td>
            <td class="second"><%= format_money @car.price_total %></td>
          </tr>
          <tr>
            <td class="first">50/50 Deal</td>
            <td class="second"><%= format_money @car.price_50_50 %></td>
          </tr>
        </table>

        <div class="per_maand">
          <span class="helper"></span>
          <%= image_tag 'logo_akp_single.png' %>

          <p>Per maand v.a.</p>

          <p class="maand_prijs"><%= format_money @car.price_month %></p>
        </div>

        <div class="akp_button">
          <button class="orange_btn green_btn afspraak_btn finance_btn">Financier deze auto hier!</button>
        </div>

        <p class="binnen_24"><%= phrase 'Binnen 24 uur rijden! Bepaal jouw prijs' %>.</p>

        <button class="orange_btn afspraak_btn appointment_btn animated pulse">Afspraak maken</button>

        <div class="icons">
          <%= link_to car_like_path(@car), class: "like_button #{@car_likes.include?(@car.slug) ? 'liked' : nil}", remote: true do %>
              <i class="like"></i>
          <% end %>
          <a href="mailto:info@autoservicehaarlem.nl?subject=<%= url_encode("Ik heb deze #{@car.display_name} gevonden op autoservicehaarlem.nl") %>&body=<%= url_encode("Ik heb deze #{@car.display_name} gevonden op autoservicehaarlem.nl, bekijk hem op #{car_url(@car)}!") %>"><i class="mail"></i></a>
          <!--<a onclick="window.print();"><i class="print"></i></a>-->
          <a target="_blank" href="https://twitter.com/intent/tweet?url=<%= url_encode(car_url(@car)) %>&text=<%= url_encode('Bekijk deze auto op autoservicehaarlem.nl') %>&hashtags=ash,autoservicehaarlem"><i class="twitter align_right"></i></a>
          <a target="_blank" id="shareBtn" href=""><i class="fb align_right"></i></a>
          <script type="text/javascript" charset="utf-8">
            document.getElementById('shareBtn').onclick = function() {
              FB.ui({
                method: 'share',
                href: '<%= car_url(@car) %>',
              }, function (response) {
              });
            }
          </script>
        </div>
      </div>

      <div class="car_slider carslider_fullwidth">
        <ul>
          <% @car.car_images.each do |car_media| %>
              <li>
                <div class="background"
                     style="background: url('<%= image_path car_media.file.large %>') no-repeat center; background-size: cover;"></div>
              </li>
          <% end %>
        </ul>
      </div>

      <div class="vragen">
        <div class="berijkbaar">
          <p><%= phrase 'car_detail_reachable_1' %></p>

          <p><%= phrase 'car_detail_reachable_2' %></p>
        </div>
        <ul>
          <li>
            <a href="#">
              <span class="helper"></span>
              <i class="phone"></i>

              <p><%= phrase 'phone' %></p>
            </a>
          </li>
          <li class="second_col">
            <a href="#">
              <span class="helper"></span>
              <i class="whatsapp"></i>

              <p><%= phrase 'whatsapp' %></p>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="helper"></span>
              <i class="mail"></i>

              <p><%= phrase 'email' %></p>
            </a>
          </li>
          <li class="second_col">
            <a href="#">
              <span class="helper"></span>
              <i class="chat"></i>

              <p><%= phrase 'chat_with_employee' %></p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="spec_tabs">

  <div class="overlay_photo_selection animated">
    <div class="cross"><%= image_tag 'cross.png' %></div>

    <h3><%= @car.display_name %></h3>

    <div class="slider_container">
      <ul id="lightSlider">
        <% @car.car_images.each do |car_image| %>
            <li data-thumb="<%= car_image.file.thumb.url %>" data-src="<%= car_image.file.large.url %>">
              <div class="image_container">
                <%= image_tag car_image.file %>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="wrapper">
    <div class="container-fluid content_container">

      <div class="tabs_container">
        <div class="_specificaties tab active" data-submenu="specs">
          <span class="helper"></span>

          <p><%= phrase 'specifications' %></p>
          <%= image_tag 'arrow_down_orange.svg' %>
        </div>
        <div class="_Accesoires tab" data-submenu="accesoires">
          <span class="helper"></span>

          <p><%= phrase 'accessoiries' %></p>
          <%= image_tag 'arrow_down_orange.svg' %>
        </div>
        <div class="_Financiering tab" data-submenu="financiering">
          <span class="helper"></span>

          <p><%= phrase 'finance_information' %></p>
          <%= image_tag 'arrow_down_orange.svg' %>
        </div>

        <div class="_photos tab" data-submenu="photos">
          <span class="helper"></span>

          <p>Fotos</p>
          <%= image_tag 'arrow_down_orange.svg' %>
        </div>

        <div class="specs tabs active">

          <div class="rdw_nap">
            <I class="rdw"></I>
            <I class="nap"></I>
          </div>

          <div class="left">
            <h4><%= phrase 'specifications' %></h4>
            <ul>
              <li><span>Merk</span><%= @car.brand.name %></li>
              <li><span>Model</span><%= @car.model.name %></li>
              <li><span>Type</span><%= @car.car_type %></li>
              <li><span>Carrosserie</span><%= @car.body_type.name %></li>
              <li><span>Transmissie</span><%= @car.transmission_type.name %></li>
              <li><span>Kleur</span><%= @car.color + ' ' + @car.color_type %></li>
              <li><span>KM stand</span><%= @car.mileage %> km</li>
              <li><span>Brandstof</span><%= @car.fuel_type.name %></li>
              <li><span>Bouwjaar</span><%= @car.manufacture_year %></li>
              <li><span>Cil. inhoud</span><%= @car.engine_size %> cc</li>
              <li><span>Aantal cil.</span><%= @car.cylinders %></li>
              <li><span>Vermogen</span><%= @car.engine_power %> pk</li>
              <li><span>Topsnelheid</span><%= @car.top_speed %> km/u</li>
              <li><span>Interieur</span><%= @car.interior %></li>
              <li><span>Energielabel</span><%= @car.energy_label %></li>
              <li><span>Wegenbelasting</span><%= @car.road_tax %> p/kw</li>
            </ul>
          </div>

          <div class="right">
            <h4><%= phrase 'accessoiries' %></h4>
            <ul>
              <% @car.option_list.first(44).each do |option| %>
                  <li><%= option %></li>
              <% end %>
            </ul>
            <div class="more active" onclick="$('._Accesoires').click()">Meer opties +</div>
          </div>
        </div>

        <div class="accesoires tabs">

          <div class="rdw_nap">
            <I class="rdw"></I>
            <I class="nap"></I>
          </div>

          <h4><%= phrase 'accessoiries' %></h4>

          <div class="list">
            <ul>
              <% @car.option_list.each do |option| %>
                  <li><%= option %></li>
              <% end %>
            </ul>
            <div class="more active">Meer opties +</div>
          </div>
        </div>

        <div class="financiering tabs">

          <h4><%= phrase 'finance_information' %></h4>

          <div class="cols">
            <div class="prijzen">
              <span class="helper"></span>

              <p><%= phrase 'Contante prijs' %></p>

              <p class="bottom"><%= format_money Setting.get('car_detail_staffel_cash') %></p>
            </div>
            <div class="prijzen">
              <span class="helper"></span>

              <p><%= phrase 'Aanbetaling' %></p>

              <p class="bottom"><%= format_money Setting.get('car_detail_staffel_deposit') %></p>
            </div>
            <div class="prijzen">
              <span class="helper"></span>

              <p><%= phrase 'Totaal kredietbedrag' %></p>

              <p class="bottom"><%= format_money Setting.get('car_detail_staffel_credit_amount') %></p>
            </div>
            <div class="prijzen">
              <span class="helper"></span>

              <p><%= phrase 'Slottermijn' %></p>

              <p class="bottom"><%= format_money Setting.get('car_detail_staffel_closing_payment') %></p>
            </div>
            <div class="prijzen">
              <span class="helper"></span>

              <p><%= phrase 'Termijn bedrag' %></p>

              <p class="bottom"><%= format_money Setting.get('car_detail_staffel_term_amount') %></p>
            </div>
            <div class="prijzen">
              <span class="helper"></span>

              <p><%= phrase 'Totale door de consument te betalen bedrag' %></p>

              <p class="bottom"><%= format_money Setting.get('car_detail_staffel_consumer_total') %></p>
            </div>
            <div class="prijzen">
              <span class="helper"></span>

              <p><%= phrase 'Jaarlijks kosten percentage' %></p>

              <p class="bottom"><%= format_money Setting.get('car_detail_staffel_yearly') %></p>
            </div>
            <div class="prijzen">
              <span class="helper"></span>

              <p><%= phrase 'Debet rentevoet' %></p>

              <p class="bottom"><%= format_money Setting.get('car_detail_staffel_interest_foot') %></p>
            </div>
            <div class="prijzen">
              <span class="helper"></span>

              <p><%= phrase 'Looptijd in maanden' %></p>

              <p class="bottom"><%= Setting.get('car_detail_staffel_duration') %></p>
            </div>
          </div>

          <p class="financierings_voorwaarden"><%= phrase 'Financiering wordt verstrekt door Volkswagen Bank' %></p>

          <div class="logo logo_letop"></div>
          <div class="let_op logo_letop"></div>
        </div>

        <div class="photos tabs">
          <ul>
            <% @car.car_images.each do |car_image| %>
                <li>
                  <figure>
                    <%= image_tag car_image.file.thumb %>
                  </figure>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="vergelijkbare_autos">
  <div class="wrapper">
    <div class="container-fluid content_container">

      <div class="vergelijkbare_title">
        <span class="helper"></span>

        <h2><%= phrase 'vergelijkbare_autos' %> <span><%= phrase 'speciaal_voor_u_geselecteerd' %></span></h2>
      </div>

      <section class="carousel vergelijkbare_carousel">
        <section id="demos">
          <div class="row">

            <div class="nav_container"></div>
            <div id="owl2row-plugin1" class="owl-carousel_top40">
              <% @car.related_cars.each do |car| %>
                  <%= render car %>
              <% end %>
            </div>
            <a href="<%= cars_path %>" class="orange_btn"><%= phrase 'Bekijk de voorraad' %></a>
          </div>
        </section>
      </section>
    </div>
  </div>
</section>

<section class="mogelijkheden">
  <div class="wrapper">
    <div class="container-fluid content_container" style="background: url('<%= image_url 'bg_mogelijkheden.jpg' %>') no-repeat center; background-size: cover">

      <h2><%= phrase 'finance_header_car_detail_page' %></h2>

      <h3><%= phrase 'finance_sub_header_car_detail_page' %></h3>

      <section class="article_financieren">

        <div class="circle_container">
          <div class="orange_circle">
            <h4>50/50 DEALS (PARTICULIER)</h4>

            <p><%= phrase('finance-circle-1-text') %></p>

            <a href="<%= car_finance_car_path(@car, '50_50') %>" class="orange_btn"><%= phrase('finance-circle-1-button') %></a>

            <div class="white_circle"></div>
          </div>

          <div class="mini_logo"></div>
        </div>
      </section>
      <section class="article_financieren">

        <div class="circle_container">
          <div class="orange_circle">
            <h4>PARTICULIER FINANCIEREN</h4>

            <p><%= phrase('finance-circle-2-text') %></p>

            <a href="<%= car_finance_car_path(@car, 'private') %>" class="orange_btn"><%= phrase('finance-circle-2-button') %></a>

            <div class="white_circle"></div>
          </div>

          <div class="mini_logo"></div>
        </div>
      </section>
      <section class="article_financieren">

        <div class="circle_container">
          <div class="orange_circle">
            <h4>ZAKELIJK <br>FINANCIEREN</h4>

            <p><%= phrase('finance-circle-3-text') %></p>

            <a href="<%= car_finance_car_path(@car, 'bussiness') %>" class="orange_btn"><%= phrase('finance-circle-3-button') %></a>

            <div class="white_circle"></div>
          </div>

          <div class="mini_logo"></div>
        </div>
      </section>
    </div>
  </div>
</section>


<% content_for :meta do %>
    <meta property="og:title" content="<%= @car.display_name %>" />
    <meta property="og:url" content="<%= car_url(@car) %>" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="<%= @car.main_image.try(:file).try(:url) %>" />
    <meta property="og:description" content="<%= @car.display_name %>" />
<% end %>