<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Nieuwsbrief "<%= @newsletter.title %>" aanpassen</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for admin_root_path %>">Home</a>
      </li>
      <li>
        <%= link_to 'Nieuwsbrieven', admin_newsletters_path %>
      </li>
      <li class="active">
        <strong>Nieuwsbrief "<%= @newsletter.title %>" versturen</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Nieuwsbrief "<%= @newsletter.title %>" versturen</h5>
        </div>
        <div class="ibox-content">
          <%= form_tag admin_newsletter_send_newsletter_path(@newsletter), method: :post, class: 'form-horizontal' do %>
              <div class="form-group">
                <%= label_tag :list_id, 'Mailchimp lijsten', class: 'col-sm-2 control-label' %>
                <div class="col-sm-10">
                  <%= select_tag :list_id, options_for_select(Newsletter.get_lists), class: 'form-control' %>
                </div>
              </div>
              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <div class="col-sm-10 col-sm-push-2">
                  <%= link_to 'Annuleren', admin_newsletters_path, class: 'btn btn-white' %>
                  <%= submit_tag 'Versturen', class: 'btn btn-primary' %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :head do %>
    <%= stylesheet_link_tag 'admin/forms' %>
<% end %>

<% content_for :javascript do %>

    <%= javascript_include_tag 'admin/forms' %>

<% end %>


