<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Nieuwsbrief "<%= @newsletter.title %>" preview</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for admin_root_path %>">Home</a>
      </li>
      <li>
        <%= link_to 'Nieuwsbrieven', admin_newsletters_path %>
      </li>
      <li class="active">
        <strong>Nieuwsbrief "<%= @newsletter.title %>" preview</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Nieuwsbrief "<%= @newsletter.title %>" preview</h5>
        </div>
        <div class="ibox-content">

          <%= render partial: 'admin/newsletters/templates/' + @newsletter.newsletter_template.template, locals: @newsletter.template_variables %>

        </div>
      </div>
    </div>
  </div>
</div>



