<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Nieuwsbrief "<%= @newsletter.title %>" preview</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for admin_root_path %>">Home</a>
      </li>
      <li>
        <%= link_to 'Nieuwsbrieven', admin_newsletters_path %>
      </li>
      <li class="active">
        <strong>Nieuwsbrief "<%= @newsletter.title %>" preview</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Nieuwsbrief "<%= @newsletter.title %>" preview</h5>
          <div class="ibox-tools">
            <a class="btn btn-primary" href="<%= admin_newsletter_prepare_for_send_path(@newsletter) %>">
              Versturen
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <iframe src="<%= admin_newsletter_preview_content_path(@newsletter) %>" frameborder="0" width="100%" onload="resizeIframe(this)"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<script language="javascript" type="text/javascript">
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>


