<div class="wrapper wrapper-content animated fadeIn">

  <div class="p-w-md m-t-sm">
    <div class="row">

      <div class="col-sm-3">
        <h1 class="m-b-xs">
          <%= Car.where('created_at > ?', Time.now.beginning_of_month).count %>
        </h1>
        <small>
          Nieuwe autos deze maand
        </small>
      </div>
      <div class="col-sm-3">
        <h1 class="m-b-xs">
          <%= AppointmentRequest.where('created_at > ?', Time.now.beginning_of_month).count %>
        </h1>
        <small>
          Afspraken aangevraagd deze maand
        </small>
      </div>
      <div class="col-sm-3">
        <h1 class="m-b-xs">
          <%= CarSaleRequest.where('created_at > ?', Time.now.beginning_of_month).count %>
        </h1>
        <small>
          Taxatie aanvragen deze maand
        </small>
      </div>
      <div class="col-sm-3">
        <h1 class="m-b-xs">
          <%= Newsletter.where('created_at > ?', Time.now.beginning_of_month).count %>
        </h1>
        <small>
          Nieuwsbrieven aangemaakt deze maand
        </small>
      </div>
    </div>

  </div>

  <br>

  <div class="row">
    <div class="col-sm-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>AB Test Auto detail pagina</h5>
        </div>
        <div class="ibox-content">

          <table class="table table-striped">
            <thead>
            <tr>
              <th>Test waarde</th>
              <th>Conversies</th>
              <th>Deelnemers</th>
            </tr>
            </thead>

            <tbody>
            <% SimpleAbs::Alternative.where(experiment: 'car_show').each do |alternative| %>
                <tr>
                  <td><%= alternative.which %></td>
                  <td><%= alternative.conversions %></td>
                  <td><%= alternative.participants %></td>
                </tr>
            <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>

    <div class="col-sm-6">

      <div class="row m-t-xs">
        <div class="col-xs-6">
          <h5 class="m-b-xs">Autos bezocht</h5>
          <h1 class="no-margins"><%= Car.all.unscoped.sum(:views) %></h1>
        </div>
        <div class="col-xs-6">
          <h5 class="m-b-xs">Conversies</h5>
          <h1 class="no-margins"><%= SimpleAbs::Alternative.where(experiment: 'car_show').sum(:conversions) %></h1>
        </div>
      </div>


      <table class="table small m-t-sm">
        <tbody>
        <tr>
          <td>
            <strong><%= Car.count %></strong> Autos
          </td>
          <td>
            <strong><%= CarMedia.count %></strong> Fotos
          </td>

        </tr>
        <tr>
          <td>
            <strong><%= Brand.count %></strong> Merken
          </td>
          <td>
            <strong><%= Model.count %></strong> Modellen
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Nieuwsbrief statistieken </h5>
        </div>
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th>Nieuwsbrief</th>
                <th>Onderwerp</th>
                <th>Ontvangers</th>
                <th>Geopend</th>
                <th>Uniek geopend</th>
              </tr>
              </thead>
              <tbody>
              <% @newsletter_stats.each do |ns| %>
                  <tr>
                    <td><%= ns['id'] %></td>
                    <td><%= ns['settings']['title'] %></td>
                    <td><%= ns['settings']['subject_line'] %></td>
                    <td><%= ns['recipients']['recipient_count'] %></td>
                    <td><%= ns['report_summary']['opens'] %></td>
                    <td valign="middle"><span class="pie"><%= ns['report_summary']['unique_opens'] %>/<%= ns['recipients']['recipient_count'] %></span> <%= ns['report_summary']['unique_opens'] %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Recente afspraak aanvragen </h5>
        </div>
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Naam</th>
                <th>Telefoon</th>
                <th>Email</th>
                <th>Opmerking</th>
                <th>Auto</th>
              </tr>
              </thead>
              <tbody>
              <% AppointmentRequest.all.order(created_at: :desc).first(10).each do |appointment_request| %>
                  <tr>
                    <td><%= [appointment_request.first_name, appointment_request.last_name].join(' ') %></td>
                    <td><%= appointment_request.phone %></td>
                    <td><%= mail_to appointment_request.email %></td>
                    <td><%= appointment_request.comment %></td>
                    <td><%= appointment_request.car.present? ? link_to(appointment_request.car.try(:display_name), car_path(appointment_request.car), target: '_blank') : 'Auto is verwijderd' %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>


    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Recente taxatie aanvragen </h5>
        </div>
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table table-striped"  >
              <thead>
              <tr>
                <th>Naam</th>
                <th>Telefoon</th>
                <th>Email</th>
                <th>Opmerking</th>
                <th>Kenteken</th>
                <th>Kilometerstand</th>
              </tr>
              </thead>

              <tbody>
              <% CarSaleRequest.all.order(created_at: :desc).limit(10).each do |car_sale_request| %>
                  <tr>
                    <td><%= car_sale_request.name %></td>
                    <td><%= car_sale_request.phone %></td>
                    <td><%= mail_to car_sale_request.email %></td>
                    <td><%= car_sale_request.message %></td>
                    <td><%= car_sale_request.license_plate %></td>
                    <td><%= car_sale_request.mileage %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

  </div>


</div>

<% content_for :head do %>
    <%= stylesheet_link_tag 'admin/dashboards' %>
<% end %>

<%= content_for :javascript do %>
    <%= javascript_include_tag 'admin/dashboards' %>

    <script type="text/javascript" charset="utf-8">
$(document).ready(function () {
  $("span.pie").peity("pie", {
    fill: ['#1ab394', '#d7d7d7', '#ffffff']
  })
});
    </script>
<% end %>