<section class="referenties">
  <div class="wrapper">
    <div class="container-fluid content_container">
      <h2><%= phrase 'Referenties' %></h2>

      <p class="header"><%= phrase 'Laat hier uw mening over ons achter' %></p>

      <section class="beoordelingen">
        <div class="row first">
          <div class="col left referentie_achterlaten">
            <h3><%= phrase 'Referentie achterlaten' %></h3>

            <% general_rating = ((@reviews.collect(&:rating).sum.to_f*2) / @reviews.length.to_f).round(1) %>
            <p class="beoordelings_cijfer"><%= general_rating %>/10</p>

            <%= star_rating (general_rating/2) %>
            <p class="uitstekend"><%= phrase 'Uitstekend' %> | <%= @reviews.length %> <%= phrase 'beoordelingen' %></p>
          </div>
          <div class="col right">
            <%= form_for :review, method: :post, url: reviews_path do |f| %>
                <%= f.text_field :name, placeholder: 'Naam', class: 'naam first_col nth_col' %>
                <%= f.text_field :email, placeholder: 'E-mail', class: 'email nth_col' %>
                <%= f.text_area :review, placeholder: 'Recensie', class: 'referentie first_col' %>

              <div class="star_rating">
                <div class="star_wrapper">
                  <small>Waardering:</small>
                  <div class="input_star_rating_wrapper">
                    <%= f.select :rating, (1..5), {}, id: 'input_star_rating' %>
                  </div>
                </div>
                <button type="submit" class="orange_btn"><%= phrase 'Verstuur Referentie' %></button>
              </div>
            <% end %>
          </div>
        </div>

        <div class="row second">
          <div class="col left">
            <ul>
              <%= render @reviews %>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<section class="mogelijkheden">
  <div class="wrapper">
    <div class="container-fluid content_container" style="background: url('<%= image_url 'bg_mogelijkheden.jpg' %>') no-repeat center; background-size: cover">

      <h2><%= phrase 'finance_header_review' %></h2>

      <h3><%= phrase 'finance_sub_header_review' %></h3>

      <%= render 'shared/finance_circles' %>
    </div>
  </div>
</section>