<tr>
  <td><%= menu.name %></td>
  <td><%= menu.location %></td>
  <td><%= menu.created_at.strftime('%Y-%m-%d - %H:%M') %></td>
  <td>
    <%= link_to 'Aanpassen', edit_admin_menu_path(menu), class: 'btn btn-primary' %>
    <%= link_to 'Menu items beheren', admin_menu_menu_items_path(menu), class: 'btn btn-default' %>
  </td>
</tr>