<li class="main_slides _slide4" style="background: url(<%= slide_values[:background].value.url %>) no-repeat center; background-size: cover;">

  <%= image_tag slide_values[:logo].value.url, class: 'ath-logo' %>

  <h1><%= slide_values[:heading].value %></h1>
  <p><%= slide_values[:sub_heading].value %></p>

  <a href="<%= slide_values[:button_link].value %>" class="orange_btn"><%= slide_values[:button_tekst].value %></a>
</li>