<li class="main_slides _slide6" style="background: url('<%= slide_values[:background].value.url %>') no-repeat center; background-size: cover;">

  <h1 style="color: <%= slide_values[:tekst_kleur].value rescue '' %>;"><%= slide_values[:header_titel].value %></h1>

  <figure>
    <%= image_tag slide_values[:icons].value.url %>
  </figure>

  <h3 style="color: <%= slide_values[:tekst_kleur].value rescue '' %>;"><%= slide_values[:sub_heading].value %></h3>
</li>