<li class="main_slides _slide3" style="background: url(<%= slide_values[:background].value.url %>) no-repeat center; background-size: cover;">

  <h1><%= slide_values[:heading].value %></h1>
  <h3><%= slide_values[:sub_heading].value %></h3>

  <section class="article_financieren">

    <div class="circle_container">
      <div class="orange_circle">
        <h4><%= slide_values[:cirkel_1_heading].value %></h4>

        <p><%= slide_values[:cirkel_1_sub_heading].value %></p>

        <a href="<%= slide_values[:cirkel_1_button_link].value %>" class="orange_btn"><%= slide_values[:cirkel_1_button_tekst].value %></a>
        <div class="white_circle"></div>
      </div>

      <div class="mini_logo"></div>
    </div>
  </section>

  <section class="article_financieren">

    <div class="circle_container">
      <div class="orange_circle">
        <h4><%= slide_values[:cirkel_2_heading].value %></h4>

        <p><%= slide_values[:cirkel_2_sub_heading].value %></p>

        <a href="<%= slide_values[:cirkel_2_knop_link].value %>" class="orange_btn"><%= slide_values[:cirkel_2_knop_tekst].value %></a>
        <div class="white_circle"></div>
      </div>

      <div class="mini_logo"></div>
    </div>
  </section>

  <section class="article_financieren">

    <div class="circle_container">
      <div class="orange_circle">
        <h4><%= slide_values[:cirkel_3_heading].value %></h4>

        <p><%= slide_values[:cirkel_3_sub_heading].value %></p>

        <a href="<%= slide_values[:cirkel_3_knop_link].value %>" class="orange_btn"><%= slide_values[:cirkel_3_knop_tekst].value %></a>
        <div class="white_circle"></div>
      </div>

      <div class="mini_logo"></div>
    </div>
  </section>
</li>