<section class="footer">
  <section class="footer_contact">
    <div class="wrapper">
      <div class="container-fluid">
        <ul>
          <li class="text vraag">
            <span class="helper"></span>
            <span class="large">Heb je een vraag?</span><span class="small">Vragen?</span> Wij zijn
            bereikbaar via:
          </li>

          <li class="phone icon">
            <span class="helper"></span>
            <i></i>
          </li>
          <li class="text">
            <span class="helper"></span>
            <i class="small phone"></i>
            <p><%= phrase 'phone' %></p>
          </li>

          <li class="whatsapp icon">
            <span class="helper"></span>
            <i></i>
          </li>
          <li class="text">
            <span class="helper"></span>
            <i class="small whatsapp"></i>
            <p><%= phrase 'whatsapp' %></p>
          </li>

          <li class="mail icon">
            <span class="helper"></span>
            <i></i>
          </li>
          <li class="text">
            <span class="helper"></span>
            <i class="small mail"></i>
            <p><%= phrase 'email' %></p>
          </li>

          <li class="chat icon">
            <span class="helper"></span>
            <i></i>
          </li>
          <li class="text text_chat open_chat">
            <span class="helper"></span>
            <i class="small chat"></i>
            <p><%= phrase 'chat_with_employee' %></p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="contact footer_main">
    <div class="wrapper">
      <div class="container-fluid">

        <div class="Adres">
          <h4><%= phrase 'Adres & openingstijden' %></h4>
          <ul class="first_col">
            <li class="bold"><a href="#">Auto Service Haarlem</a></li>
            <li><%= phrase 'ash_address_1' %></li>
            <li><%= phrase 'ash_address_2' %></li>
            <li><%= phrase 'ash_address_3' %></li>
            <li><%= phrase 'ash_address_4' %></li>
          </ul>
          <ul>
            <li class="bold"><%= phrase 'ash_open_1' %></li>
            <li><%= phrase 'ash_open_2' %></li>
            <li class="bold"><%= phrase 'ash_open_3' %></li>
            <li><%= phrase 'ash_open_4' %></li>
            <li class="bold"><%= phrase 'ash_open_5' %></li>
            <li><%= phrase 'ash_open_6' %></li>
            <li class="bold"><%= phrase 'ash_open_7' %></li>
            <li><%= phrase 'ash_open_8' %></li>
          </ul>

          <a href="http://www.merqwaardig.com/" class="Link_merqwaardig">Created by merqwaardig.com</a>
        </div>

        <div class="Klantenservice">
          <h4><%= phrase 'Klantenservice & Financieringen' %></h4>
          <div class="first_col">
            <ul>
              <% @menus['sub_menu_1'].each do |menu_item| %>
                  <li class="<%= is_active_url(menu_item.route) %>">
                    <%= link_to menu_item.route do %>
                        <%= menu_item.name %>
                    <% end %>
                  </li>
              <% end %>
            </ul>
            <ul>
              <% @menus['sub_menu_2'].each do |menu_item| %>
                  <li class="<%= is_active_url(menu_item.route) %>">
                    <%= link_to menu_item.route do %>
                        <%= menu_item.name %>
                    <% end %>
                  </li>
              <% end %>
            </ul>
          </div>
          <div class="second_col">
            <ul>
              <% @menus['sub_menu_3'].each do |menu_item| %>
                  <li class="<%= is_active_url(menu_item.route) %>">
                    <%= link_to menu_item.route do %>
                        <%= menu_item.name %>
                    <% end %>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="tot_voorraad">
          <h4><%= phrase 'Totale voorraad' %></h4>
          <div class="first_col">
            <ul>
              <% @brands[0..(@brands.length/2-1)].each do |brand| %>
                  <li>
                    <%= link_to "#{brand.name} (#{brand.cars.count})", brand_cars_path(brand) %>
                  </li>
              <% end %>
            </ul>
          </div>
          <div class="second_col">
            <ul>
              <% @brands[(@brands.length/2)..-1].each do |brand| %>
                  <li>
                    <%= link_to "#{brand.name} (#{brand.cars.count})", brand_cars_path(brand) %>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="footer_smart">

    <h4><span>Vragen?</span> Wij zijn bereikbaar via:</h4>

    <ul class="berijkbaar_menu">
      <li>
        <span class="helper"></span>
        <figure><i class="phone"></i></figure>
        <p><%= phrase 'phone' %></p>
      </li>
      <li>
        <span class="helper"></span>
        <figure><i class="whatsapp"></i></figure>
        <p><%= phrase 'whatsapp' %></p>
      </li>
      <li>
        <span class="helper"></span>
        <figure><i class="mail"></i></figure>
        <p><%= phrase 'email' %></p>
      </li>
      <li>
        <span class="helper"></span>
        <figure><i class="chat"></i></figure>
        <p><%= phrase 'chat_with_employee' %></p>
      </li>
    </ul>

    <ul class="menu">
      <li class="adres expand_menu">
        <p>Adres & openingstijden</p>
        <%= image_tag 'arrow_down_orange.svg' %>

        <div class="expand">
          <ul>
            <li class="bold"><a href="#">Auto Service Haarlem</a></li>
            <li><%= phrase 'ash_address_1' %></li>
            <li><%= phrase 'ash_address_2' %></li>
            <li><%= phrase 'ash_address_3' %></li>
            <li><%= phrase 'ash_address_4' %></li>
          </ul>
          <ul>
            <li class="bold"><%= phrase 'ash_open_1' %></li>
            <li><%= phrase 'ash_open_2' %></li>
            <li class="bold"><%= phrase 'ash_open_3' %></li>
            <li><%= phrase 'ash_open_4' %></li>
            <li class="bold"><%= phrase 'ash_open_5' %></li>
            <li><%= phrase 'ash_open_6' %></li>
            <li class="bold"><%= phrase 'ash_open_7' %></li>
            <li><%= phrase 'ash_open_8' %></li>
          </ul>
        </div>
      </li>
      <li class="klantenservice expand_menu">
        <p>Klantenservice & Financieringen</p>
        <%= image_tag 'arrow_down_orange.png' %>

        <div class="expand">
          <ul>
            <% @menus['sub_menu_1'].each do |menu_item| %>
                <li class="<%= is_active_url(menu_item.route) %>">
                  <%= link_to menu_item.route do %>
                      <%= menu_item.name %>
                  <% end %>
                </li>
            <% end %>
          </ul>

          <ul>
            <% @menus['sub_menu_2'].each do |menu_item| %>
                <li class="<%= is_active_url(menu_item.route) %>">
                  <%= link_to menu_item.route do %>
                      <%= menu_item.name %>
                  <% end %>
                </li>
            <% end %>
          </ul>

          <ul>
            <% @menus['sub_menu_3'].each do |menu_item| %>
                <li class="<%= is_active_url(menu_item.route) %>">
                  <%= link_to menu_item.route do %>
                      <%= menu_item.name %>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </div>
      </li>
      <li class="voorraad expand_menu">
        <p><%= phrase 'Voorraad' %></p>
        <%= image_tag 'arrow_down_orange.svg' %>

        <div class="expand">
          <ul>
            <% @brands.each do |brand| %>
                <li class="img" class="<%= is_active_url(brand_cars_path(brand)) %>">
                  <%= link_to brand_cars_path(brand) do %>
                      <span class="helper"></span>
                      <figure>
                        <span class="helper"></span>
                        <%= image_tag brand.image.menu %>
                      </figure>
                      <p><%= brand.name %> (<%= brand.cars.count %>)</p>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </div>
      </li>
    </ul>
  </section>
</section>

