<section class="header">
  <div class="wrapper">
    <div class="container-fluid header_content_container">
      <%= link_to image_tag('logo_ash.png'), root_path, class: :logo %>

      <!-- Overlay / Pop-ups -->
      <div class="popup_newsletter"> <!-- add class newsletter_form to element to make it visible on click -->
        <div class="content">
          <h3>Op de hoogte blijven van onze dagelijks vernieuwende voorraad?</h3>
          <small>Schrijf je dan hier in voor onze nieuwsbrief!</small>
          <form action="">
            <input type="text" placeholder="Voornaam">
            <input type="text" placeholder="Achternaam">
            <input type="text" placeholder="E-mail adres">
            <a href="#" class="orange_btn send_btn">Verstuur inschrijving</a>
          </form>
          <div class="cross">
            <%= image_tag 'cross_afspraak.png' %>
          </div>
        </div>
        <div class="registered">
          <h4>Bedankt voor uw inschrijving!</h4>
          <small>Wilt u meerdere email adressen aanmelden? Wacht dan 3 seconden.</small>
        </div>
      </div>
      <!-- end -->

      <div class="smartphone_menu">
        <span class="helper"></span>

        <p>Menu</p>
        <%= image_tag 'arrow_down_orange.png' %>
      </div>

      <ul class="menu">
        <li class="<%= is_active_url(root_path) %>">
          <a href="<%= root_path %>"><span class="helper"></span>
            <%= phrase 'Home' %>
            <div class="border-bottom"></div>
            <div class="left_border"></div>
          </a>
        </li>
        <li class="<%= is_active_url(cars_path) %>" class="voorraad" data-submenu="voorraad_menu">
          <a href="<%= cars_path %>">
            <span class="helper"></span>
            <%= phrase 'Voorraad' %>
            <%= image_tag 'header_arrow.png', class: 'header_arrow.png' %>
            <div class="border-bottom"></div>
            <div class="left_border"></div>
          </a>
        </li>
        <li class="<%= is_active_url(financieringen_path) %>" class="Financieringen" data-submenu="financieringen_menu">
          <a href="<%= financieringen_path %>">
            <span class="helper"></span>
            <%= phrase 'Financieringen' %>
            <%= image_tag 'header_arrow.png', class: 'header_arrow.png' %>
            <div class="border-bottom"></div>
            <div class="left_border"></div>
          </a>
        </li>
        <% @menus['head_menu'].each do |menu_item| %>
            <li class="<%= is_active_url(menu_item.route) %>">
              <%= link_to menu_item.route do %>
                  <span class="helper"></span>
                  <%= menu_item.name %>
                  <div class="border-bottom"></div>
                  <div class="left_border"></div>
              <% end %>
            </li>
        <% end %>
        <li class="<%= is_active_url(contact_path) %>" class="Contact" data-submenu="contact_menu">
          <a href="<%= contact_path %>">
            <span class="helper"></span>
            <%= phrase 'Contact' %>
            <%= image_tag 'header_arrow.png', class: 'header_arrow.png' %>
            <div class="border-bottom"></div>
          </a>
        </li>
      </ul>

      <ul class="search">
        <li class="hart">
          <figure>
            <a href="<%= favourites_cars_path %>">
              <%= image_tag 'header_hart.png' %>
            </a>
          </figure>
          <span class="helper"></span>
        </li>
        <li class="zoeken" data-submenu="zoeken_menu" data-smartmenus="zoeken">
          <span class="helper"></span>
          <%= image_tag 'Search.png' %>
          <div class="border-bottom"></div>
          <div class="left_border"></div>
        </li>
        <li class="taal" data-submenu="taal_menu" data-smartmenus="talen">
          <span class="helper"></span>
          <%= image_tag 'nl_vlag.svg', class: 'nl_vlag.svg' %>
          <p>NL</p>
          <%= image_tag 'header_arrow.png', class: 'header_arrow.png' %>
          <div class="border-bottom"></div>
        </li>
      </ul>
    </div>
  </div>

  <!-- sub menu -->
  <div data-menu="voorraad_menu" class="voorraad_menu sub_menu">
    <div class="wrapper">
      <div class="container-fluid content-container">
        <ul>
          <% @brands.each do |brand| %>
              <li class="img" class="<%= is_active_url(brand_cars_path(brand)) %>">
                <%= link_to brand_cars_path(brand) do %>
                    <span class="helper"></span>
                    <figure>
                      <span class="helper"></span>
                      <%= image_tag brand.image.menu %>
                    </figure>
                    <p><%= brand.name %> (<%= brand.cars.count %>)</p>
                <% end %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div data-menu="financieringen_menu" class="financieringen_menu sub_menu">
    <div class="wrapper">
      <div class="container-fluid content-container">
        <h2><span
        class="large">Kies de financiering die het beste bij jou past met Auto KredietPlan!</span><span
        class="small">Wilt uw een auto financieren?</span></h2>

        <p class="small">Bekijk hier de mogelijkheden!</p>

        <%= render 'shared/finance_circles' %>
      </div>
    </div>
  </div>

  <div data-menu="contact_menu" class="contact_menu sub_menu">
    <section class="contact">
      <div class="wrapper">
        <div class="container-fluid content-container">
          <div class="Klantenservice">
            <h4><%= phrase 'Klantenservice & Financieringen' %></h4>

            <div class="first_col">
              <ul>
                <% @menus['sub_menu_1'].each do |menu_item| %>
                    <li class="<%= is_active_url(menu_item.route) %>">
                      <%= link_to menu_item.route do %>
                          <%= menu_item.name %>
                      <% end %>
                    </li>
                <% end %>
              </ul>
              <ul>
                <% @menus['sub_menu_2'].each do |menu_item| %>
                    <li class="<%= is_active_url(menu_item.route) %>">
                      <%= link_to menu_item.route do %>
                          <%= menu_item.name %>
                      <% end %>
                    </li>
                <% end %>
              </ul>
            </div>
            <div class="second_col">
              <ul>
                <% @menus['sub_menu_3'].each do |menu_item| %>
                    <li class="<%= is_active_url(menu_item.route) %>">
                      <%= link_to menu_item.route do %>
                          <%= menu_item.name %>
                      <% end %>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>

          <div class="Adres">
            <h4><%= phrase 'Adres & openingstijden' %></h4>
            <ul class="first_col">
              <li class="bold"><a href="#">Auto Service Haarlem</a></li>
              <li><%= phrase 'ash_address_1' %></li>
              <li><%= phrase 'ash_address_2' %></li>
              <li><%= phrase 'ash_address_3' %></li>
              <li><%= phrase 'ash_address_4' %></li>
            </ul>
            <ul>
              <li class="bold"><%= phrase 'ash_open_1' %></li>
              <li><%= phrase 'ash_open_2' %></li>
              <li class="bold"><%= phrase 'ash_open_3' %></li>
              <li><%= phrase 'ash_open_4' %></li>
              <li class="bold"><%= phrase 'ash_open_5' %></li>
              <li><%= phrase 'ash_open_6' %></li>
              <li class="bold"><%= phrase 'ash_open_7' %></li>
              <li><%= phrase 'ash_open_8' %></li>
            </ul>
          </div>

          <div class="vragen">
            <h4>Vragen?<span> Wij zijn bereikbaar via:</span></h4>

            <ul>
              <li>
                <span class="helper"></span>
                <figure><i class="phone"></i></figure>
                <p><%= phrase 'phone' %></p>
              </li>
              <li>
                <span class="helper"></span>
                <figure><i class="whatsapp"></i></figure>
                <p><%= phrase 'whatsapp' %></p>
              </li>
              <li>
                <span class="helper"></span>
                <figure><i class="mail"></i></figure>
                <p><%= phrase 'email' %></p>
              </li>
              <li class="open_chat">
                <span class="helper"></span>
                <figure><i class="chat"></i></figure>
                <p><%= phrase 'chat_with_employee' %></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div data-menu="taal_menu" class="taal_menu sub_menu">
    <div class="wrapper">
      <div class="container-fluid content-container">
        <ul>
          <li>
            <span class="helper"></span>
            <i class="nl"></i>

            <p><%= phrase 'Nederlands' %></p>
          </li>
          <li>
            <span class="helper"></span>
            <i class="gb"></i>

            <p><%= phrase 'English' %></p>
          </li>
          <li>
            <span class="helper"></span>
            <i class="de"></i>

            <p><%= phrase 'German' %></p>
          </li>
          <li>
            <span class="helper"></span>
            <i class="fr"></i>

            <p><%= phrase 'French' %></p>
          </li>
          <li>
            <span class="helper"></span>
            <i class="es"></i>

            <p><%= phrase 'Spanish' %></p>
          </li>
          <li>
            <span class="helper"></span>
            <i class="tr"></i>

            <p><%= phrase 'Turkish' %></p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div data-menu="zoeken_menu" class="zoeken_menu sub_menu">
    <div class="wrapper">
      <div class="container-fluid content-container">
        <div class="zoeken">
          <p><%= phrase 'header_search_description' %></p>

          <a class="uitgebreid" href="<%= cars_path %>"><%= phrase 'Uitgebreid zoeken >' %></a>

          <form action="<%= search_cars_path %>" method="get">
            <div class="search_field">
              <i class="amp"></i>
              <i class="cross"></i>
              <input type="text" name="query" placeholder="Type hier je je zoekterm...">
            </div>
            <button type="submit" class="orange_btn"><%= phrase 'Zoeken' %></button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- smartphone menu -->
  <div class="smartphone">
    <ul>
      <li class="talen smartmenu active">
        <span class="helper"></span>
        <a href="#"><i class="nl active active_border">
          <div class="border_bottom"></div>
        </i></a>
        <a href="#"><i class="gb active">
          <div class="border_bottom"></div>
        </i></a>
        <a href="#"><i class="de active">
          <div class="border_bottom"></div>
        </i></a>
        <a href="#"><i class="fr active">
          <div class="border_bottom"></div>
        </i></a>
        <a href="#"><i class="es active">
          <div class="border_bottom"></div>
        </i></a>
        <a href="#"><i class="tr active">
          <div class="border_bottom"></div>
        </i></a>
      </li>
      <li class="zoeken active">
        <form>
          <input type="text" placeholder="Zoeken...">
        </form>
      </li>
      <li class="home smartmenu <%= is_active_url(root_path) %>">
        <a href="
          <% root_path %>"><%= phrase 'Home' %></a>
      </li>
      <li class="voorraad smartmenu <%= is_active_url(cars_path) %>">
          <%= phrase 'Voorraad' %>
          <%= image_tag 'arrow_down_orange.png', class: 'arrow_down_orange.png' %>
        <div class="expand">
          <ul>
            <% @brands.each do |brand| %>
                <li class="img" class="<%= is_active_url(brand_cars_path(brand)) %>">
                  <%= link_to brand_cars_path(brand) do %>
                      <span class="helper"></span>
                      <figure>
                        <span class="helper"></span>
                        <%= image_tag brand.image.menu %>
                      </figure>
                      <p><%= brand.name %> (<%= brand.cars.count %>)</p>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </div>
      </li>

      <li class="Financieringen smartmenu">
          <%= phrase 'Financieringen' %>
          <%= image_tag 'arrow_down_orange.png', class: 'arrow_down_orange.png' %>

        <div class="expand">
          <%= render 'shared/finance_circles' %>
        </div>
      </li>

      <% @menus['head_menu'].each do |menu_item| %>
          <li class="<%= is_active_url(menu_item.route) %>">
            <%= link_to menu_item.route do %>
                <%= menu_item.name %>
            <% end %>
          </li>
      <% end %>

      <li class="Contact smartmenu <%= is_active_url(contact_path) %>">
          <%= phrase 'Contact' %>
          <%= image_tag 'arrow_down_orange.png', class: 'arrow_down_orange.png' %>

        <div class="expand">
          <ul>
            <li class="bold"><a href="#">Auto Service Haarlem</a></li>
            <li><%= phrase 'ash_address_1' %></li>
            <li><%= phrase 'ash_address_2' %></li>
            <li><%= phrase 'ash_address_3' %></li>
            <li><%= phrase 'ash_address_4' %></li>
          </ul>
          <ul>
            <li class="bold"><%= phrase 'ash_open_1' %></li>
            <li><%= phrase 'ash_open_2' %></li>
            <li class="bold"><%= phrase 'ash_open_3' %></li>
            <li><%= phrase 'ash_open_4' %></li>
            <li class="bold"><%= phrase 'ash_open_5' %></li>
            <li><%= phrase 'ash_open_6' %></li>
            <li class="bold"><%= phrase 'ash_open_7' %></li>
            <li><%= phrase 'ash_open_8' %></li>
          </ul>

          <ul>
            <% @menus['sub_menu_1'].each do |menu_item| %>
                <li class="<%= is_active_url(menu_item.route) %>">
                  <%= link_to menu_item.route do %>
                      <%= menu_item.name %>
                  <% end %>
                </li>
            <% end %>
          </ul>

          <ul>
            <% @menus['sub_menu_2'].each do |menu_item| %>
                <li class="<%= is_active_url(menu_item.route) %>">
                  <%= link_to menu_item.route do %>
                      <%= menu_item.name %>
                  <% end %>
                </li>
            <% end %>
          </ul>

          <ul>
            <% @menus['sub_menu_3'].each do |menu_item| %>
                <li class="<%= is_active_url(menu_item.route) %>">
                  <%= link_to menu_item.route do %>
                      <%= menu_item.name %>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </div>
      </li>
      <li class="vragen">
        <div class="vragen">
          <h4>Vragen?<span> Wij zijn bereikbaar via:</span></h4>

          <ul>
            <li>
              <span class="helper"></span>
              <figure><i class="phone"></i></figure>
              <p><%= phrase 'phone' %></p>
            </li>
            <li>
              <span class="helper"></span>
              <figure><i class="whatsapp"></i></figure>
              <p><%= phrase 'whatsapp' %></p>
            </li>
            <li>
              <span class="helper"></span>
              <figure><i class="mail"></i></figure>
              <p><%= phrase 'email' %></p>
            </li>
            <li class="open_chat">
              <span class="helper"></span>
              <figure><i class="chat"></i></figure>
              <p><%= phrase 'chat_with_employee' %></p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>