<!doctype html>
<html lang="en">
<head>
  <title>AutoServiceHaarlem.nl</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic'
        rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'main', media: 'all' %>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
          integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
          crossorigin="anonymous"></script>
  <script src="//stephband.info/jquery.event.move/js/jquery.event.move.js"></script>
  <script src="//stephband.info/jquery.event.swipe/js/jquery.event.swipe.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width">

</head>
<body>
<%= render 'phrasing/initializer' %>
<%= render 'layouts/header' %>

<%= render 'layouts/breadcrumbs' %>

<%= yield %>

<%= render 'layouts/footer' %>

<script type="text/javascript" src="//www.loquendo.nl/loquendo/chat/v1/loquendo.js"></script>
<script type="text/javascript">
  Loquendo.init({
    client_id: 58,
    site_id: 125
  });
</script>

<div id="google_translate_element"></div><script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'nl', includedLanguages: 'de,en,es,fr,nl,tr', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
  }
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


</body>
</html>
